.consulting-link {
  padding-top: 473px;
  .cls-1,
  .cls-2 {
    @include transition(fill, 0.2s, linear);
  }
  .gear-four-svg {
    height: 225px;
    left: -25px;
    top: 215px;
    z-index: 3;
    .cls-1 {
      fill: $purple;
    }
  }
  .i-phone-svg {
    height: 78px;
    left: 63px;
    top: 289px;
    .cls-1 {
      fill: $purple;
    }

    .cls-2 {
      fill: $purple;
    }
  }
  .plug-svg,
  .light-bulb-svg {
    transform: scaleX(-1);
  }
  .plug-svg {
    height: 100px;
    top: 298px;
    left: 180px;
    z-index: 2;
    .cls-1 {
      fill: $purple;
    }
  }
  .light-bulb-svg {
    height: 284px;
    left: 210px;
    top: 23px;
    .cls-1 {
      fill: $purple;
    }

    .cls-2 {
      fill: $purple;
    }
  }
  .link-text {
    color: $dark-turquoise;
  }
  .next-svg {
    .shape {
      fill: $light-turquoise;
    }
  }
  &.active {
    .gear-four-svg {
      .cls-1 {
        fill: $dark-turquoise;
      }
    }
    .i-phone-svg {
      .cls-1 {
        fill: $dark-turquoise;
      }

      .cls-2 {
        fill: $light-turquoise;
      }
    }
    .plug-svg {
      .cls-1 {
        fill: $dark-turquoise;
      }
    }
    .light-bulb-svg {
      .cls-1 {
        fill: $dark-turquoise;
      }

      .cls-2 {
        fill: $light-turquoise;
      }
    }
  }
}