.consulting-link {
  padding-top: 473px;
  .cls-1,
  .cls-2 {
    fill: $purple;
    @include transition(all, 0.2s, linear);
  }
  .gear-four-svg {
    height: 225px;
    left: -25px;
    top: 215px;
    z-index: 3;
    .cls-1 {
      fill: $purple;
    }
  }
  .i-phone-svg {
    height: 78px;
    left: 63px;
    top: 289px;
  }
  .plug-svg,
  .light-bulb-svg {
    transform: scaleX(-1);
  }
  .plug-svg {
    height: 100px;
    top: 298px;
    left: 180px;
    z-index: 2;
  }
  .light-bulb-svg {
    height: 284px;
    left: 210px;
    top: 23px;
    .cls-1,
    .cls-2 {
      @include transition-delay(0.4s);
    }
    .movable-plug {
      transform: translate(0, -20px);
    }
  }
  .link-text {
    color: $dark-turquoise;
  }
  .next-svg {
    .shape {
      fill: $light-turquoise;
    }
  }
  &.active {
    .gear-four-svg {
      .cls-1 {
        fill: $dark-turquoise;
      }
    }
    .i-phone-svg {
      .cls-1 {
        fill: $dark-turquoise;
      }

      .cls-2 {
        fill: $light-turquoise;
      }
    }
    .plug-svg {
      .cls-1 {
        fill: $dark-turquoise;
      }
    }
    .light-bulb-svg {
      .cls-1 {
        fill: $dark-turquoise;
      }

      .cls-2 {
        fill: $light-turquoise;
      }
    }
  }
  &.animate {
    .gear-four-svg {
      animation: spin 4s linear infinite;
    }
    .movable-plug {
      transform: translate(0, 0);
    }
  }
}

@keyframes spin {
  100% {
    @include rotate(360deg);
  }
}

@include respond-to(desktop){
  .consulting-link {
    .container {
      margin-top: 190px;
    }
  }
}

@include respond-to(max){
  .consulting-link {
    .container {
      margin-top: 0;
    }
    .gear-four-svg {
      top: 253px;
      left: 110px;
      height: 200px;
    }
    .i-phone-svg {
      height: 68px;
      left: 190px;
      top: 318px;
    }
    .plug-svg {
      top: 335px;
      left: 285px;
      height: 78px;
    }
    .light-bulb-svg {
      top: 83px;
      left: 302px;
      height: 260px
    }
  }
}