.consulting-link {
  padding-top: 473px;
  .gear-four-svg {
    height: 230px;
    left: -20px;
    top: 205px;
    .cls-1 {
      fill: #00a0b0;
    }
  }
  .i-phone-svg {
    height: 85px;
    left: 62px;
    top: 285px;
    .cls-1 {
      fill: #00a0b0;
    }

    .cls-2 {
      fill: #80d0d8;
    }
  }
  .plug-svg {
    height: 104px;
    top: 308px;
    left: 180px;
    transform: scaleX(-1);
    .cls-1 {
      fill: #00a0b0;
    }
  }
  .light-bulb-svg {
    height: 284px;
    left: 208px;
    top: 20px;
    .cls-1 {
      fill: #00a0b0;
    }

    .cls-2 {
      fill: #80d0d8;
    }
  }
  .link-text {
    color: $dark-turquoise;
  }
  .next-svg {
    .shape {
      fill: $light-turquoise;
    }
  }
}