.online-solution-link {
  padding-top: 705px;

  .cls-1,
  .cls-2,
  .cls-3 {
    @include transition(fill, 0.2s, linear);
  }


  .gear-one-svg {
    height: 224px;
    top: 50px;
    left: 12px;
    .cls-1 {
      fill: $purple;
    }
  }

  .world-payments-svg {
    height: 90px;
    top: 115px;
    left: 74px;
    @include transition-delay(0.4s);
    .cls-1 {
      fill: $purple;
    }

    .cls-2 {
      opacity: 0.5;
    }

    .cls-3 {
      fill: $white;
    }
  }
  .gear-two-svg,
  .gear-three-svg {
    .cls-1 {
      fill: $purple;
    }
  }
  .gear-two-svg {
    height: 200px;
    top: 269px;
    left: 102px;
  }
  .lock-svg {
    height: 70px;
    top: 334px;
    left: 182px;
    .cls-1 {
      fill: $purple;
    }
  }
  .gear-three-svg {
    height: 185px;
    top: 462px;
    left: 4px;
  }
  .chip-svg {
    height: 55px;
    left: 66px;
    top: 527px;
    .cls-1 {
      fill: $purple;
    }
  }
  .link-text {
    color: $dark-yellow
  }
  .next-svg {
    .shape {
      fill: $light-yellow;
    }
  }

  &.active {

    .world-payments-svg {
      .cls-1 {
        fill: $dark-pink;
      }
    }
    .gear-one-svg {
      .cls-1 {
        fill: $dark-pink;
      }
    }
    .gear-two-svg,
    .gear-three-svg{
      .cls-1 {
        fill: $dark-yellow;
      }
    }
    .lock-svg {
      .cls-1 {
        fill: $light-yellow;
      }
    }
    .chip-svg {
      .cls-1 {
        fill: $light-yellow;
      }
    }

  }
  &.animate {
    .gear-one-svg,
    .gear-two-svg,
    .gear-three-svg{
      animation:spin 4s linear infinite;
    }
  }

}

@keyframes spin {
  100% {
    @include rotate(360deg);
  }
}

@include respond-to(max) {
  .online-solution-link {
    .gear-one-svg {
      top: 98px;
      left: 100px;
      height: 155px;
    }
    .world-payments-svg {
      top: 143px;
      left: 144px;
      height: 62px;
    }
    .gear-two-svg {
      top: 235px;
      left: 190px;
      height: 145px;
    }
    .lock-svg {
      top: 280px;
      left: 246px;
      height: 55px;
    }
    .gear-three-svg {
      top: 364px;
      left: 120px;
      height: 125px;
    }
    .chip-svg {
      height: 38px;
      left: 163px;
      top: 407px;
    }
  }
}