.taking-payments-link {
  padding-top: 410px;
  overflow: hidden;
  .hand-svg {
    height: 160px;
    top: 140px;
    left: -170px;
    z-index: 3;
    @include rotate(-10deg);
    @include transition(left, 0.4s, linear);
    .cls-1,
    .cls-2,
    .cls-3{
      fill: $purple;
      @include transition(fill, 0.2s, linear);
    }
  }

  .mobile-svg {
    height: 150px;
    top: 54px;
    left: 50%;
    margin-left: -44px;
    z-index: 2;
    .cls-1,
    .cls-2{
      fill: $purple;
      @include transition(fill, 0.2s, linear);
    }
    .cls-2 {
      opacity: 0.5;
    }
  }

  .pound-sign {
    opacity: 0;
    @include transition(opacity, 0.4s, linear);
    @include transition-delay(0.4s);
  }

  .waves-svg {
    height: 110px;
    top: 235px;
    left: 50%;
    margin-left: -69px;
    z-index: 1;
    opacity: 0;
    @include transition(opacity, 0.4s, linear);
    @include transition-delay(0.8s);
    .cls-1 {
      fill: $purple;
      @include transition(fill, 0.2s, linear);
    }
  }
  .link-text {
    color: $dark-pink;
  }

  &.active {
    .hand-svg {
      .cls-1 {
        fill: $dark-pink;
      }
      .cls-2 {
        fill: $maroon;
      }
      .cls-3 {
        fill: $light-pink;
      }
    }
    .mobile-svg {
      .cls-1 {
        fill: $dark-pink;
      }
      .cls-2 {
        fill: $white;
      }
    }
    .waves-svg {
      .cls-1 {
        fill: $dark-pink;
      }
    }

  }
  &.animate {
    .hand-svg {
      left: -90px;
    }
    .pound-sign {
      opacity: 1;
    }
    .waves-svg {
      opacity: 1;
    }
  }



}

@include respond-to(desktop) {
  .taking-payments-link {
    .container {
      margin-top: 160px;
    }
  }
}