.action-list {
  background-color: $purple;
  overflow: hidden;
  margin-top: 25px;
  padding-bottom: 40px;
  text-align: center;

  .section-title {
    @include ag-bold();
    font-size: 20px;
    line-height: 1.2em;
    color: $white;
    width: 150px;
    margin: 40px auto 0 auto;
  }
  .action-item {
    margin: 30px auto 20px auto;
    overflow: hidden;
  }
  .svg {
    @include circle(150px);
    display: inline-block;
  }
  .shape,
  .border {
    fill: $white;
  }
  .action-title,
  .description {
    color: $white;
    margin-top: 15px;
    font-size: 16px;
    display: block;
  }
  .action-title {
    @include ag-bold();
  }
  .description {
    @include ag-light();
    line-height: 1.2em;
    margin-bottom: 30px;
  }
  .link:hover {
    .svg {
      background-color: $white;
    }
    .shape {
      fill: $purple;
    }

  }


}

@include respond-to(tablet) {
  .action-list {
    padding-left: 120px;
    padding-right: 120px;
    .section-title {
      width: auto;
      margin-top: 72px;
      font-size: 25px;
    }
    .action-item {
      display: inline-block;
      margin: 40px 50px 20px 50px;
    }
    .svg {
      @include circle(200px);
    }
    .action-title {
      font-size: 20px;
      margin-top: 35px;
    }
  }
}