.article-image-link {
  margin-top: 10px;
  .link,
  .link-text,
  .background-circle,
  .next-svg {
    position: absolute;
  }
  .image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .link {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
  .link-text {
    font-size: 16px;
    line-height: 1.4em;
    right: 145px;
    bottom: 25px;
    left: 20px;
    opacity: 0.75;
  }
  .background-circle {
    height: 400px;
    width: 400px;
    border-radius: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: -220px;
    left: -120px;
    @include transition(all, 0.2s, linear);
  }
  .next-svg {
    @include circle(44px);
    opacity: 0.75;
    .shape {
      fill: $dark-yellow;
    }
    right: 15px;
    bottom: 18px;
  }
  .image {
    width: 100%;
    height: auto;
    display: block;

  }
  .extract {
    display: none;
  }
  &:hover {
    .background-circle {
      height: 420px;
      width: 420px;
    }
    .next-svg,
    .link-text{
      opacity: 1;
    }
  }
}

@include respond-to(desktop) {
  .article-image-link {
    width: 30%;
    float: left;
    margin-top: 0;
    &:nth-child(2),
    &:nth-child(5),
    &:nth-child(8),
    &:nth-child(11){
      margin-left: 5%;
      margin-right: 5%;
    }
    .link-text {
      bottom: 30px;
      font-size: 24px;
      width: 170px;
      right: auto;
      left: 25px;
    }
    .background-circle {
      left: -80px;
      bottom: -210px;
      width: 420px;
      height: 420px;
    }
    .next-svg {
      @include circle(55px);
      right: 20px;
      bottom: 30px;
    }
    .extract {
      display: block;
      font-size: 20px;
      padding: 30px 15px 0 15px;
      line-height: 1.2em;
      height: 165px;
    }
    &:hover {
      .background-circle {
        height: 460px;
        width: 460px;
      }
    }
  }
}