.disc-switcher {
  text-align: center;
  position: relative;
  overflow: hidden;
  @include transition(padding-bottom, 0.2s, ease);
  .disc-list {
    padding-left: 15px;
    padding-right: 15px;
  }
  .disc-item {
    display: inline-block;
    width: 82px;
    &:nth-child(2) {
      margin-left: 8px;
      margin-right: 8px;
    }
    .svg {
      width: 100%;
      height: auto;
    }
  }
  .disc-link {
    @include ag-bold();
    text-align: center;
    font-size: 12px;
    line-height: 1.2em;
    margin-top: 35px;
    display: block;
    color: $black;
  }
  .link-text {
    display: none;
  }
  .svg {
    @include circle(105px);
    margin-top: 14px;
    display: block;
  }

  .connector-line {
    width: 2px;
    height: 80px;
    display: block;
    margin: 0 auto;
    background-color: transparent;
  }

  .container {
    display: none;
    position: absolute;
    top: 192px;
    right: 0;
  }

  .disc-item.selected .container {
    display: block;
  }

  @mixin disc-color($classname, $color) {
    .disc-item.#{$classname} {
      .disc-link {
        color: $color;
      }

      .border,
      .shape {
        fill: $color;
      }

      &.selected {
        .svg,
        .connector-line {
          background: $color;
        }
        .shape {
          fill: $white;
        }
      }
      .container {
        background-color: $color;
      }
    }
  }

  @include disc-color(turquoise, $dark-turquoise);
  @include disc-color(pink, $dark-pink);
  @include disc-color(maroon, $maroon);
  @include disc-color(purple, $purple);

  .read-more-link {
    margin-top: 20px;
    margin-bottom: 50px;
    opacity: 1;
    @include transition(all, 0.1s, ease);
  }

  .disc-content {
    max-height: 200px;
    overflow: hidden;
    @include transition(max-height, 0.2s, ease);
  }

  .container.open {

    .disc-content {
      max-height: 2000px;
    }

    .read-more-link{
      opacity: 0;
    }
  }

}

@include respond-to(desktop) {
  .disc-switcher {
    text-align: left;
    padding-bottom: 900px;
    .disc-list {
      width: 945px;
      margin-left: auto;
      margin-right: auto;
      text-align:center;
    }
    .disc-item,
    .disc-item:nth-child(2) {
      margin-left: 40px;
      margin-right: 40px;
      width: 195px;
    }
    .disc-link {
      font-size: 22px;
      margin-top: 55px;
    }
    .link-text {
      min-height: 52px;
      display: block;
    }
    .svg {
      @include circle(184px);
    }
    .connector-line {
      height: 90px;
    }
    .connector-link {
      width: 3px;
    }
    .container {
      top: 395px;
    }
    .read-more-link {
      display: none;
    }
    .disc-content {
      max-height: none;
    }
  }
}