.hero {
  text-align: center;
  .hero-content {
    height: 450px;
    position: relative;
    overflow: hidden;
    padding: 0 15px;
  }
  .title,
  .para {
    line-height: 1.2em;
    color: #fff;
  }
  .title {
    margin-top: 190px;
    @include ag-bold();
    font-size: 24px;
    text-shadow: 0 9px 24px rgba(0, 0, 0, 0.20);
  }
  .para {
    font-size: 16px;
    margin-top: 30px;
  }
  .yellow-button-link,
  .white-button-link {
    padding-left: 0;
    padding-right: 0;
    width: 160px;
  }
  .background-image {
    position: absolute;
    top: 0;
    right: 50%;
    height: auto;
    z-index: -10;
    $image-width: 1040px;
    margin-right: -($image-width/2);
    width: $image-width;
  }
}

@include respond-to(tablet) {
  .hero {
    .hero-content {
      height: 516px;
    }
    .background-image {
      $image-width: 1024px;
      margin-right: -($image-width/2);
      width: $image-width;
      right: 50%;
    }
  }
}

@include respond-to(desktop) {
  .hero {
    .hero-content {
      height: 570px;
    }
    .title {
      margin: 312px 100px 0 100px;
      font-size: 70px;
      line-height: 1;
    }
    .para {
      width: 680px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
    }
    .yellow-button-link,
    .white-button-link {
      width: 224px;
    }
    .background-image {
      $image-width: 1324px;
      margin-right: -($image-width/2);
      width: $image-width;
    }
  }
}

@include respond-to(max) {
  .hero {
    .background-image {
      right: 0;
      left: 0;
      width: 100%;
      margin-right: 0;
    }
    .title {
      margin: 312px 230px 0 230px;
    }
  }
}