<ul class="disc-switcher">
    <li class="disc-item disc-selected turquoise">
        <h2>
            <a class="disc-link link" href="#">Building supplier network
                <span class="icon"></span>
                <span class="connector-line"></span></a>
        </h2>

        <div class="content">
            <div class="content-container">
                <h3 class="content-header">Overview</h3>
                <a href="#" class="close-link">
                    <span class="offscreen-text">Close</span>
                </a>

                <p class="introduction">More and more buyers are looking for innovative ways of paying their suppliers by card</p>

                <p class="para">At <span class="strong">Adflex</span>, we can carry out numerous effective campaigns, which will ensure that
                    your suppliers are accepting your car d payments as quickly as possible. By using a combination of processes
                    we can quickly asses your suppliers’ card acceptance capability and advise them on what they need to do.</p>

                <p class="para">Each campaign has its own customised supplier portal, giving information to your customers about what you
                    require of them and how Adflex will make this simple for them.</p>

                <p class="para">Our extensive card enabled supplier network, built over the last 10 years, offers a fast track route to any
                    partner that needs to complete the payment circle.</p>
                <ul>
                    <li>
                        <a class="yellow-button-link link" href="#">Apply now</a>
                    </li>
                    <li>
                        <a class="orange-button-link link" href="#">Request a call</a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="disc-item pink">
        <h2>
            <a class="disc-link link" href="#">Supplier onboard process<span class="icon"></span></a>
            <span class="connector-line"></span>
        </h2>


        <div class="content">
            <h3 class="header">Lorem Ipsum</h3>
            <a href="close-link">
                <span class="offscreen-text">Close</span>
            </a>


            <p class="introduction">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

            <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                anim id est laborum.</p>

            <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                anim id est laborum.</p>
            <ul>
                <li>
                    <a href="#">Apply now</a>
                </li>
                <li>
                    <a href="#">Request a call</a>
                </li>
            </ul>
        </div>
    </li>
</ul>

