<div class="hero process-payments-hero">
    <div class="hero-content">
        <ul class="hero-nav-menu">
            <li class="hero-nav-item">
                <a class="link" href="#">Home</a>
                <span class="border"></span>
            </li>
            <li class="hero-nav-item">
                <a class="link" href="#">Payment Partners</a>
            </li>
        </ul>
        <p class="title">Payment processing for B2B and public sectors</p>
        <ul>
            <li class="button-link-item">
                <a class="link rounded-link" href="#">Apply now</a>
            </li>
            <li class="button-link-item">
                <a class="transparent-link link" href="#">Request a call</a>
            </li>
        </ul>
        <img class="background-image" height="782" width="1225" src="/assets/payment-processing/hero.png" />
    </div>
</div>