.disc-switcher {
  text-align: center;
  position: relative;
  overflow: hidden;
  @include transition(padding-bottom, 0.2s, ease);
  .disc-item {
    display: inline-block;
    width: 105px;
    margin: 0 15px;

  }
  .disc-link {
    text-align: center;
    font-size: 12px;
    margin-top: 35px;
    display: block;
    color: $black;
  }
  .icon {
    $icon-height: 105px;
    width: $icon-height;
    height: $icon-height;
    border-radius: $icon-height / 2;
    border: 2px solid $black;
    display: block;
    margin-top: 14px;
  }
  .connector-line {
    width: 2px;
    height: 80px;
    display: block;
    margin: 0 auto;
    background-color: transparent;
  }

  .container {
    display: none;
    position: absolute;
    top: 262px;
    right: 0;
  }

  .disc-item.selected .container {
    display: block;
  }

  @mixin disc-color($classname, $color) {
    .disc-item.#{$classname} {
      .disc-link {
        color: $color;
      }
      .icon {
        border-color: $color;
      }
      &.selected {
        .icon,
        .connector-line {
          background: $color;
        }
      }
      .container {
        background-color: $color;
      }
    }
  }

  @include disc-color(turquoise, $dark-turquoise);
  @include disc-color(pink, $dark-pink);

  .white-button-link {
    margin-top: 20px;
    margin-bottom: 50px;
    opacity: 1;
    @include transition(opacity, 0.2s, ease);
  }

  .disc-content {
    max-height: 200px;
    overflow: hidden;
    @include transition(max-height, 0.2s, ease);
  }

  .container.open {

    .disc-content {
      max-height: 2000px;
    }

    .white-button-link{
      opacity: 0;
    }
  }

}

@include respond-to(desktop) {
  .disc-switcher {
    text-align: left;
    padding-bottom: 900px;
    .disc-list {
      width: 945px;
      margin-left: auto;
      margin-right: auto;
    }
    .disc-item {
      margin-left: 60px;
      margin-right: 60px;
      width: 195px;
    }
    .disc-link {
      font-size: 28px;
      margin-top: 55px;
    }
    .icon {
      $icon-height: 184px;
      width: $icon-height;
      height: $icon-height;
      border-radius: $icon-height / 2;
      border-width: 5px;
    }
    .connector-link {
      width: 3px;
    }
    .container {
      top: 405px;
    }
    .read-more-link {
      display: none;
    }
    .disc-content {
      max-height: none;
    }
  }
}