.disc-content {
  padding: 55px 20px 50px 20px;
  position: relative;
  overflow: hidden;
  .close-link {
    position: absolute;
    top: 15px;
    left: 15px;
    @include circle(35px);
    .next-trans-svg {
      @include rotate(-90deg);
      .border,
      .shape {
        fill: $white;
      }
    }
  }

  .content-header,
  .introduction,
  .para {
    color: $white;
  }

  .content-header {
    @include ag-bold();
    background: transparent url($image-folder + '/processing-payments/mag-glass.png') top center / 91px 69px no-repeat;
    padding-top: 75px;
    font-size: 28px;
  }

  .introduction,
  .para {
    @include ag-light();
    line-height: 1.2em;
  }

  .introduction {
    font-size: 18px;
    margin-top: 20px;
  }

  .para {
    font-size: 16px;
    margin-top: 24px;
  }

  .strong {
    @include ag-bold();
  }

  .white-button-link {
    margin-top: 20px;
    min-width: 110px;
  }

}

@include respond-to(desktop) {
  .disc-content {
    padding: 0 260px 87px 260px;
    text-align: center;
    .content-header {
      margin-top: 28px;
      padding: 40px 140px 55px 140px;
      font-size: 50px;
      background-size: 165px 125px;
      background-position: top right;
      display: inline-block;
    }
    .close-link {
      display: none;
    }
    .introduction {
      margin-top: 0;
      font-size: 25px;
    }
    .para {
      margin-top: 28px;
      font-size: 20px;
    }
    .button-item {
      display: inline-block;
    }
    .white-button-link {
      margin: 75px 20px 0 20px;
    }

  }
}

