.processing-payments-hero {
  .hero-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 490px;
  }
  .title {
    margin-top: 172px;
  }

  .yellow-button-link {
    margin-top: 45px;
    padding-left: 0;
    padding-right: 0;
    width: 200px;
  }
  .white-button-link {
    margin-top: 20px;
    width: 200px;
  }
}

@include respond-to(desktop) {
  .processing-payments-hero {
    .hero-content {
      height: 524px;
    }
    .title {
      margin-top: 235px
    }
    .button-link-item {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
    }
    .yellow-button-link,
    .white-button-link {
      margin-top: 75px;
      width: 224px;
    }
  }
}