<div class="action-list">
    <h2 class="section-title">Choose one of the following:</h2>
    <ul>
        <li class="action-item">
            <a class="link" href="#">
                <%= erb :'svg/web' %>
                <span class="action-title"><span class="strong">Pull out quote</span>, at Adflex we aim to implement east payment processes</span>
            </a>
        </li>
    </ul>
</div>