<div class="hero">
    <div class="hero-content">
        <p class="title">Heading one</p>
        <p class="para">Introduction paragraph style Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        <img class="background-image" height="1118" width="2014" src="/assets/content/hero.jpg" />
    </div>
</div>