<div class="hero">
    <div class="hero-content">
        <p class="title">Heading one</p>
        <p class="para">Introduction paragraph style Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        <img class="background-image" height="782" width="1225" src="/assets/processing-payments/hero.png" />
    </div>
</div>