<ul class="section-links-list">
    <li class="link-item">
        <a href="#" class="link">Lorem ipsum dolar sit amet</a>
    </li>
    <li class="link-item">
        <a href="#" class="link">Consectetur adipiscing elit</a>
    </li>
    <li class="link-item">
        <a href="#" class="link">Sed do eiusmod tempor incididunt</a>
    </li>
</ul>
