.contact-details {

  .contact-list {
    margin-top: 20px;
  }
  .icon-container {
    color: $black;
    @include ag-regular();
    text-align: left;
    font-size: 16px;
    position: relative;
    height: 35px;
    margin: 20px 30px 0 30px;
    padding: 20px 0 0 65px;
    display: block;
  }
  .svg {
    position: absolute;
    top: 0;
    left: 0;
    @include circle(55px);
  }
  .border,
  .shape {
    fill: $dark-pink;
  }
  .link:hover {
    color: $dark-pink;
    .svg {
      background-color: $dark-pink;
      .shape {
        fill: $white;
      }
    }

  }
}

@include respond-to(desktop) {
  .contact-details {
    text-align: center;
    .contact-list {
      margin-top: 55px;
    }
    .contact-item {
      width: 342px;
      display: inline-block;
    }
    .icon-container {
      padding: 190px 0 0 0;
      font-size: 24px;
      text-align: center;
      margin-left: 40px;
      margin-right: 40px;
    }
    .svg {
      top: 25px;
      left: 50%;
      margin-left: -65px;
      @include circle(130px);
      @include transition(all, 0.2s, linear);
    }
    .link-text {
      display: block;
      padding: 19px 0 17px 0;
      height: 24px;
      font-size: 20px;
      border-radius: 30px;
      background-color: $dark-pink;
      color: $white;
    }
  }
}