.help-nav {
  margin-top: 50px;
  padding-bottom: 90px;
  .nav-item {
    width: 160px;
    min-height: 200px;
  }
  .svg {
    margin-top: 5%;
    width: 60%;
    height: auto;
    border-radius: 50%;
    background-color: $white;
    @include transition(all, 0.2s, linear);
  }
  .border {
    fill: $orange;
  }
  .shape {
    fill: $orange;
  }
  .button {
    @include ag-light();
    display: block;
    height: 30px;
    font-size: 16px;
    color: $white;
    padding: 16px 10px 0 10px;
    margin-top: 30px;
    border-radius: 25px;
    border: 2px solid $orange;
    background-color: $orange;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0;
    @include transition(all, 0.1s, linear);
  }
  .slick-current .link {
    .svg {
      margin-top: 0;
      width: 70%;
      background-color: $orange;
    }
    .shape {
      fill: $white;
    }
    .button {
      opacity: 1;
    }
  }
  .link:hover {
    .svg {
      background-color: $white;
    }
    .shape {
      fill: $orange;
    }
    .button {
      color: $orange;
      background-color: $white;
    }
  }
  .slick-dots{
    bottom: 30px;
    li {
      width: 10px;
      height: 10px;
      margin-left: 8px;
      margin-right: 8px;
      button {
        background-color: $off-white;
      }
    }
  }
}

@include respond-to(desktop) {
  .help-nav {
    padding-bottom: 0;
    .nav-item{
      width: 250px;
      display: inline-block;
    }
    .link {
      padding-top: 188px;
      position: relative;
      display: block;
    }
    .svg {
      width: 110px;
      position: absolute;
      top: 24px;
      margin-left: -55px;
      left: 50%;
    }
    .shape {
      fill: $orange;
    }
    .button {
      color: $orange;
      background-color: $white;
    }
    .button {
      opacity: 1;
      margin-top: 0;
      padding-left: 40px;
      padding-right: 40px;
      display: inline-block;
      clear: both;
    }
    .nav-item.current-page {
      .svg {
        top: 0;
        width: 146px;
        margin-left: -73px;
        background-color: $orange;
      }
      .shape {
        fill: $white;
      }
      .button {
        color: $white;
        background-color: $orange;
      }
    }
    .link:hover {
      .svg {
        background-color: $orange;
      }
      .shape {
        fill: $white;
      }
      .button {
        color: $white;
        background-color: $orange;
      }
    }

  }
}