.question-form {
  overflow: hidden;
  position: relative;
  background-color: transparent;
  color: $black;
  margin-left: auto;
  margin-right: auto;
  width: 285px;

  .container {
    position: relative;
    border-radius: 25px;
    margin-top: 45px;
    padding: 16px 55px 14px 20px;
    display: block;
    background-color: $button-transparency;
    border: 1px solid $purple;
  }
  .label-text,
  .input {
    color: $white;
    font-size: 16px;
    line-height: 1.4em;

  }
  .label-text {
    top: -35px;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    @include ag-light();
  }
  .input-active {
    .label-text {
      top: 5px;
      opacity: 0.75;
      font-size: 10px;
    }
  }
  .input {
    background-color: transparent;
    width: 100%;
    border: none;
    height: 20px;
    &::placeholder {
      opacity: 0;
    }
  }
  .submit-button {
    display: none;
  }
  .search-svg {
    @include circle(38px);
    position: absolute;
    right: 8px;
    bottom: 8px;
    background-color: $white;
    @include transition(background-color, 0.1s, linear);
    cursor: pointer;
    .border {
      fill: $white;
    }
    .shape {
      fill: $black;
      @include transition(fill, 0.1s, linear);
    }
    &:hover {
      background-color: transparent;
      .shape {
        fill: $white;
      }
    }
  }

}

@include respond-to(desktop) {
  .question-form {
    margin-top: 40px;
    width: 624px;
    .container {
      margin-top: 0;
      border-radius: 35px;
      padding: 20px 75px 18px 100px;

    }
    .label-text {
      display: none;
    }
    .input {
      font-size: 26px;
      height: 32px;
      @include ag-light();
      text-align: center;
      &::placeholder {
        opacity: 1;
        color: $white;
      }
    }
    .search-svg {
      @include circle(52px);
      right: 10px;
      bottom: 10px;
    }
  }

}