.request-a-call-back {
  overflow: hidden;
  background-color: $off-blue;

  .call-back-form {
    margin-top: 40px;
    padding: 0 30px 120px 30px;
  }
  .container {
    position: relative;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 20px 18px 20px;
    display: block;
    background-color: $white;
    border: 1px solid $white;
    @include transition(border-color, 0.1s, linear);
    &.focus {
      border-color: $purple;
    }
  }
  .label-text,
  .input {
    color: $black;
    font-size: 16px;
    line-height: 1.4em;
    width: 100%;
  }
  .label-text {
    top: 21px;
    left: 20px;
    display: block;
    text-align: left;
    position: absolute;
    @include ag-light();
    @include transition(all, 0.2s, linear);
  }
  .input-active {
    .label-text {
      top: 5px;
      opacity: 0.75;
      font-size: 10px;
    }
  }
  .text-area {
    height: 200px;
  }

  .submit-button {
    display: none;
  }
  .button-container {
    margin-top: 20px;
    text-align: right;
    float: right;
  }
  .orange-button-link {
    cursor: pointer;
  }
}

@include respond-to(desktop) {
  .request-a-call-back {
    width: 1008px;
    margin: 0 auto;
    .call-back-form {
      padding-left: 0;
      padding-right: 0;
    }
    .container {
      margin-top: 30px;
      margin-left: 22px;
      margin-right: 22px;
      width: 416px;
      display: inline-block;
    }
    .long-container {
      width: auto;
      display: block;
    }
    .orange-button-link {
      position: relative;
      right: 40px;
      bottom: 110px;
      text-align: center;
    }
  }

}