<div class="articles-list">
    <h2 class="title"><%= title %></h2>
    <ul class="news-articles">

        <li class="article">
            <h3 class="article-title">5 Big changes we can expect from Trump</h3>
            <img class="image" src="/assets/homepage/latest-from/news-one.jpg" height="375" width="375">
            <img class="type-icon" src="/assets/homepage/latest-from/linked-in-icon.png" height="49" width="49">
            <span class="circle"></span>
            <a class="link" href="#">
                <%= erb :'svg/next' %>
            </a>
        </li>
        <li class="article">
            <h3 class="article-title">Lorem Ipsum</h3>
            <img class="image" src="/assets/homepage/latest-from/news-one.jpg" height="375" width="375">
            <img class="type-icon" src="/assets/homepage/latest-from/linked-in-icon.png" height="49" width="49">
            <span class="circle"></span>
            <a class="link" href="#">
                <%= erb :'svg/next' %>
            </a>
        </li>
        <li class="article">
            <h3 class="article-title">Lorem ipsum</h3>
            <img class="image" src="/assets/homepage/latest-from/news-one.jpg" height="375" width="375">
            <img class="type-icon" src="/assets/homepage/latest-from/linked-in-icon.png" height="49" width="49">
            <span class="circle"></span>
            <a class="link" href="#">
                <%= erb :'svg/next' %>
            </a>
        </li>
    </ul>
</div>