<div class="content-page">
    <%= erb :'content/hero' %>
    <%= erb :'content/introduction' %>
    <%= erb :'content/action_list' %>
    <h2>APG Web Service</h2>

    <h3>Heading style three, integrate your payment systems</h3>

    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.</p>

    <p class="para">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h4>Heading style four</h4>
    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        <a href="#" class="link">content link</a>
        et dolore magna aliqua.</p>
    <ul>
        <li>
            <a href="#" class="link">lorem ipsum dolar sit amet</a>
        </li>
        <li>
            <a href="#" class="link">consectetur adipiscing elit</a>
        </li>
        <li>
            <a href="#" class="link">sed do eiusmod tempor incididunt</a>
        </li>
    </ul>
    <p class="para">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <a class="orange-button-link link" href="#">Cta here</a>
    <img src="/assets/news/video.png"/>
    <p>Image title and <a class="link" href="#">link</a></p>

</div>