<footer class="footer">
    <%= erb :'footer/footer_links' %>
    <img class="pci-logo" src="/assets/footer/security-standards-council.png" alt="PCI Security Standards Council" width="187" height="57"/>
    <a class="logo-link" href="/">
        <img class="logo" src="/assets/footer/logo.png" alt="Adflex" width="303" height="89"/>
    </a>
    <p class="copyright-information">&copy; 2017 Adflex Limited, All Rights Reserved</p>
    <%= erb :'footer/social_media_links' %>
</footer>
