<footer class="footer">
    <%= erb :'footer/footer_links' %>
    <p>Adflex PCI DSS Accreditation</p>
    <a href="/">Adflex</a>
    <p>&copy; Adflex Limited, All Rights Reserved</p>
    <%= erb :'footer/social_media_links' %>
</footer>
