<div class="header">
    <p>Adflex Global Payment Processing</p>
    <ul>
        <li>
            <a href="/about-us">About us</a>
        </li>
        <li>
            <a href="/news-and-media">News &amp; media</a>
        </li>
        <li>
            <a href="#">Sign in</a>
        </li>
        <li>
            <a href="#">Apply now</a>
        </li>
        <li>
            <a href="/taking-payments">Taking payments</a>
        </li>
        <li>
            <a href="/developers">Developers</a>
        </li>
        <li>
            <a href="payment-partners">Payment partners</a>
        </li>
        <li>
            <a href="/support-and-contact">Support &amp; contact</a>
        </li>
        <li>
            <a href="#">Search</a>
        </li>
    </ul>
</div>