<header class="header">

    <div class="content">
        <a href="/">
            <img class="logo" src="/assets/header/logo.png" alt="Adflex Global Payment Processing"/>
        </a>
        <ul>
            <li>
                <a class="menu-link" href="#">
                    <span class="offscreen-text">Open Menu</span>
                </a>
            </li>
            <li>
                <a class="search-link" href="#">
                    <span class="offscreen-text">Search</span>
                </a>
            </li>
        </ul>
        <%= erb :'header/navigation_list' %>
        <%= erb :'header/header_background' %>
    </div>
</header>