<div class="help-page">
    <h1 class="main-title">Help centre</h1>
    <p>What seems to be the problem?</p>
    <%= erb :'help/help_nav' %>
    <%= erb :'help/question_search' %>
    <%= erb :'help/request_a_call_back' %>
    <%= erb :'help/contact_details' %>
</div>