<!DOCTYPE html>
<html lang="en-GB">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Jaber One</title>
    <link href="/assets/index.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="all-content">
    <%= erb :header %>
    <%= yield %>
    <%= erb :footer %>
</div>
<script src="/assets/index.js"></script>
<script src="https://use.typekit.net/xir2ywn.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>