<!DOCTYPE html>
<html>
<head><title>Jaber One</title>
    <link href="assets/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="all-content">
    <%= erb :header %>
    <%= yield %>
    <%= erb :footer %>
</div>
<script src="assets/index.js"></script>
</body>
</html>