<!DOCTYPE html>
<html>
<head><title>Jaber One</title>
    <link href="assets/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<%= erb :navigation %>
<%= yield %>

<script src="assets/index.js"></script>
</body>
</html>