<div class="content-page">
    <div class="hero">
        <div class="hero-content">
            <h1 class="title">Error 404 - Page not found</h1>
            <img class="background-image" height="1118" width="2014" src="/assets/content/hero.jpg" />
        </div>
    </div>
    <div class="section">
        <p class="para">This may be because you have typed the web address incorrectly, or the page you were
            looking for may have been moved, updated or deleted.</p>

        <p class="sub-title">Try the following</p>
        <ul class="section-links-list">
            <li class="link-item">
                <a href="/" class="link">Go back to the homepage</a>
            </li>
            <li class="link-item">
                <a href="/search" class="link">Search for the page you were looking for</a>
            </li>

        </ul>
    </div>
</div>