<%= erb :'processing_payments/processing_payments_hero' %>
<%= erb :'processing_payments/introduction' %>
<ul>
    <li>
        <h2><a href="#">Building supplier network</a></h2>

        <h3>Overview</h3>

        <p>More and more buyers are looking for innovative ways of paying their suppliers by card</p>

        <p>At <span class="strong">Adflex</span>, we can carry out numerous effective campaigns, which will ensure that
            your suppliers are accepting your car d payments as quickly as possible. By using a combination of processes
            we can quickly asses your suppliers’ card acceptance capability and advise them on what they need to do.</p>

        <p>Each campaign has its own customised supplier portal, giving information to your customers about what you
            require of them and how Adflex will make this simple for them.</p>

        <p>Our extensive card enabled supplier network, built over the last 10 years, offers a fast track route to any
            partner that needs to complete the payment circle.</p>
        <ul>
            <li>
                <a href="#">Apply now</a>
            </li>
            <li>
                <a href="#">Request a call</a>
            </li>
        </ul>
    </li>
    <li>
        <h2><a href="#">Supplier onboard process</a></h2>

        <h3>Lorem Ipsum</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>

        <ul>
            <li>
                <a href="#">Apply now</a>
            </li>
            <li>
                <a href="#">Request a call</a>
            </li>
        </ul>
    </li>
</ul>

