<div class="search-page">
    <h1>Search results</h1>
    <%= erb :'search/search_form_container' %>
    <%= erb :'search/search_results' %>
    <%= erb :'search/video_results' %>
    <%= erb :'search/help_link_container' %>
</div>