<div class="content-page">
    <div class="hero">
        <div class="hero-content">
            <h1 class="title">Error 500 - Internal server error</h1>
            <img class="background-image" height="782" width="1225" src="/assets/processing-payments/hero.png"/>
        </div>
    </div>
    <div class="section">
        <p class="para">Sorry, something has gone wrong</p>

        <p class="sub-title">Try the following</p>
        <ul class="section-links-list">
            <li class="link-item">
                <a href="/" class="link">Go back to the homepage</a>
            </li>
            <li class="link-item">
                <a href="/search" class="link">Search for the page you were looking for</a>
            </li>

        </ul>
    </div>
</div>