.introduction {
  text-align: center;

  .main-title {
    font-size: 26px;
    color: $dark-pink;
    margin: 50px 30px 0 30px;
  }
  .para {
    font-size: 18px;
    color: $black;
    margin: 20px 15px 0 15px;
    line-height: 1.2em;
  }
}
@include respond-to(desktop) {
  .introduction {
    .main-title {
      font-size: 48px;
      margin-top: 45px;
    }
    .para {
      font-size: 22px;
      width: 650px;
      margin: 10px auto 0 auto;
    }
  }
}