<ul class="news-menu-mobile-part">
    <li>
        <a class="menu-link" href="#">
            <img src="/assets/header/menu-icon.png" height="38" width="38" alt="Menu">
        </a>
    </li>
    <li class="link-item">
        <a class="link" href="/news">Home</a>
        <span class="border"></span>
    </li>
    <li class="link-item">
        <a class="link" href="/news">News & Media</a>
    </li>
</ul>
