<ul class="news-menu-mobile-part">
    <li>
        <a class="menu-link" href="#">
            <%= erb :'svg/filter' %>
        </a>
    </li>
    <li class="link-item">
        <a class="link" href="/news">Home</a>
        <span class="border"></span>
    </li>
    <li class="link-item">
        <a class="link" href="/news">News & Media</a>
    </li>
</ul>
