<ul class="news-menu">
    <li>
        <a class="link" href="#latest-news">Latest news</a>
    </li>
    <li>
        <a class="link" href="#publications">Publications</a>
    </li>
    <li>
        <a class="link" href="#videos">Videos</a>
    </li>
    <li>
        <a class="link" href="#media-center">Media center</a>
    </li>
    <li>
        <form>
            <input type="text" placeholder="Search">
            <button class="submit-button" type="submit"></button>
        </form>
    </li>
</ul>
