<div class="story-pagination">
    <p>
        <a class="link" href="">
            <span class="icon"></span>
            <span class="offscreen-text">Previous</span>
        </a>
        <span class="text">Page X of X</span>
        <a class="link" href="">
            <span class="icon"></span>
            <span class="offscreen-text">Next</span>
        </a>
    </p>

</div>