<div class="story-pagination">
    <p>
        <a class="link previous hidden" href="">
            <span class="icon"></span>
            <span class="offscreen-text">Previous</span>
        </a>
        <span class="text">Page <span class="page-number">X</span> of <span class="page-count">X</span></span>
        <a class="link next" href="">
            <span class="icon"></span>
            <span class="offscreen-text">Next</span>
        </a>
    </p>

</div>