<div class="hero about-us-hero">
    <div class="hero-content">
        <p class="title">Specialists in global card payment processing</p>
        <ul>
            <li class="button-link-item">
                <a class="link yellow-button-link" href="#">Watch the video</a>
            </li>
        </ul>
        <img class="background-image" height="1128" width="2021" src="/assets/payment-partners/hero.jpg" />
    </div>
</div>