<ul class="action-list">
    <li class="action-item">
        <%= erb :'svg/online_payments' %>
        <h5 class="action-title">Embedded or stand alone</h5>

        <p class="description">Pay Page can be embedded inside your page or appear as a page with customisation allowing
            you to use your own header and footer</p>

    </li>
    <li class="action-item">
        <%= erb :'svg/online_payments' %>
        <h5 class="action-title">Embedded or stand alone</h5>

        <p class="description">Pay Page can be embedded inside your page or appear as a page with customisation allowing
            you to use your own header and footer</p>

    </li>
    <li class="action-item">
        <%= erb :'svg/online_payments' %>
        <h5 class="action-title">Embedded or stand alone</h5>

        <p class="description">Pay Page can be embedded inside your page or appear as a page with customisation allowing
            you to use your own header and footer</p>

    </li>
</ul>