<div class="introduction section">
    <h1 class="main-title">Taking payments</h1>
    <p class="para">Lorem ipsum dolar sit amet lorem ipsum dolar sit amet lorem ipsum dolsar sit amet lorem ipsum dolar sit amet lorem ipsum dolsar sit amet lorem ipsum dolar sit amet lorem ipsum dolsar sit amet</p>
</div>
