.help-link-container {
  background-color: $off-blue;
  overflow: hidden;
  text-align: center;
  padding-bottom: 70px;
  margin-top: 30px;
  .main-title {
    text-align: center;
    margin-top: 60px;
  }
  .link {
    margin-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@include respond-to(desktop) {
  .help-link-container {
    background-color: transparent;
    border-top: 1px solid $purple;
    margin-top: 55px;
    padding-bottom: 0;
    .main-title {
      font-size: 50px;
      margin-top: 55px;
    }
    .link {
      padding-left: 75px;
      padding-right: 75px;
    }
  }
}