.search-form {
  position: relative;

  .container {
    margin-top: 10px;
    display: block;
    background-color: $white;
    border: 2px solid $orange;
    height: 20px;
    border-radius: 23px;
    padding: 13px 65px 11px 30px;

  }
  .input {
    width: 100%;
    border: none;
    &::placeholder {
      color: $placeholder-grey;
    }
  }
  .label-text,
  .submit-button {
    display: none;
  }
  .search-svg {
    position: absolute;
    @include circle(38px);
    top: 5px;
    right: 5px;
    background-color: $orange;
    @include transition(background-color, 0.1s, linear);
    cursor: pointer;
    .border {
      fill: $orange;
    }
    .shape {
      fill: $white;
      @include transition(fill, 0.1s, linear);
    }
    &:hover {
      background-color: $white;
      .shape {
        fill: $orange;
      }
    }
  }
  .input {
    @include ag-light();
    font-size: 14px;
  }
}

@include respond-to(desktop) {
  .search-form {
    width: 510px;
    margin: 0 auto;
    .container {
      border-radius: 32px;
      height: 25px;
      padding: 16px 75px 23px 35px;
    }
    .input {
      font-size: 25px;
    }
    .search-svg {
      @include circle(60px);
      top: 4px;
      right: 4px;
    }
  }
}