.search-results{
  margin: 0 22px;
  color: $maroon;
  .search-item {
    padding-bottom: 30px;
    border-bottom: 1px solid $purple;
    opacity: 0;
    @include transition(opacity, 0.4s, linear);
    &.visible {
      opacity: 1;
    }
  }
  .sub-title {
    margin-top: 30px;
  }
  .preview {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.4em;
    @include ag-light();
  }
  .extract {
    display: none;
  }
  .link {
    color: $orange;
    font-style: italic;
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }
  }
  .read-more-link {
    color: $maroon;
    font-style: normal;
    display: inline-block;
    border-bottom: 1px solid $maroon;
    &.hidden {
      display: none;
    }
  }
  .go-to-link {
    font-style: normal;
    margin-top: 20px;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 1px solid $orange;
  }
  .image {
    width: 100%;
    display: block;
    margin-top: 30px;
  }

}

@include respond-to(desktop) {
  .search-results{
    margin: 75px 0 0 0;
    .search-item {
      padding-bottom: 25px;
    }
    .sub-title {
      margin-top: 25px;
    }
    .preview {
      margin-top: 10px;
      font-size: 16px;

    }
    .go-to-link {
      font-size: 20px;
    }
    .search-item.with-image {
      padding-right: 322px;
      position: relative;
    }
    .image {
      width: 302px;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 0;
    }

  }
}