.video-results {
  margin-top: 30px;
  .sub-title {
    margin-left: 22px;
    margin-right: 22px;
  }
  .video-item {
    margin: 30px 10px 0 10px;
    width: 144px;
    display: block;
  }
  .link {
    display: block;
    font-size: 16px;
    text-align: center;
    color: $maroon;
    line-height: 1.2em;
    margin-top: 5px;
  }
  .svg {
    @include circle(144px);
    background-color: $white;
  }
  .shape,
  .border {
    fill: $purple;
  }
  .link-text {
    display: block;
    margin-top: 10px;
  }
  .play-svg {
    opacity: 0;
    @include circle(50px);
    margin-top: 10px;
    .triangle {
      fill: $white;
    }

  }
  .link:hover {
    .icon-container .svg {
      background-color: $purple;
      .shape {
        fill: $white;
      }
    }
  }
  .slick-active {
    .play-svg {
      opacity: 1;
    }
  }

}

@include respond-to(tablet) {
  .video-results {
    text-align: center;
    .video-item {
      margin: 50px 0 0 0;
      width: 194px;
      display: inline-block;
      &:first-child {
        margin-left: 0;
      }
    }
    .link-text {
      height: 60px;
    }
  }
}

@include respond-to(desktop) {
  .video-results {
    .sub-title {
      margin: 45px 0 0 0;
      text-align: left;
    }
    .video-item {
      margin: 50px 0 0 124px;
      &:first-child {
        margin-left: 0;
      }
    }
    .svg {
      @include circle(194px);
    }
    .text-container {
      display: block;
      position: relative;
      padding-right: 50px;
    }
    .link-text {
      font-size: 20px;
      overflow: hidden;
      text-align: left;
      line-height: 1.2em;
      height: 120px;
    }
    .play-svg {
      margin-top: 0;
      @include circle(44px);
      position: absolute;
      top: 0;
      right: 0;
      opacity: 1;
    }

  }
}