.header-search {
  position: fixed;
  top: 72px;
  left: 0;
  background-color: rgba(0,0,0,0.75);
  width: 100%;
  max-height: 0;
  overflow: hidden;
  @include transition(all, 0.2s, linear);

  &.visible {
    max-height: 100px;
    opacity: 1;
  }

  .bordered-container {
    margin: 15px;
    border-radius: 18px;
    border: 1px solid $white;
    height: 27px;
    padding: 7px 40px 0 20px;
    position: relative;
  }

  .keyword-field {
    font-size: 16px;
    width: 100%;
    color: $white;
    display: block;
    background-color: transparent;
    border:none;
    &:focus {
      outline-width: 0;
    }
    &::placeholder {
      color: $unimportant-grey;
    }
  }

  .next-trans-svg {
    @include circle(36px);
    position: absolute;
    top: -1px;
    right: -1px;
    cursor: pointer;
    background-color: transparent;
    @include transition(background-color, 0.1s, linear);
    .border,
    .shape {
      fill: $white;
      @include transition(fill, 0.1s, linear);
    }
    &:hover {
      background-color: $white;
      .shape {
        fill: $black;
      }
    }
  }
  .submit-button {
    display: none;
  }
}

@include respond-to(desktop) {
  .header-search {
    position: absolute;
    background-color: transparent;
    right: 52px;
    width: 0;
    left: auto;
    top: 92px;
    max-height: none;
    opacity: 1;
    &.visible {
      width: 665px;
    }
    .bordered-container {
      margin: 0;
      height: 28px;
      padding-top: 8px;
      background-color: $white;
    }
    .keyword-field {
      color: $black;
      &::placeholder {
        color: $unimportant-grey;
      }
    }
    .next-trans-svg {
      right: -1px;
      border: 1px solid $white;
      .border {
        fill: $white;
      }
      .shape{
        fill: $black;
      }
      &:hover {
        background-color: $black;
        .border {
          fill: $black;
        }
        .shape{
          fill: $white;
        }
      }
    }
    .submit-button {
      $button-height: 38px;
      top: -1px;
      right: -1px;
      background-color: $black;
      height: $button-height;
      width: $button-height;
      background-size: $button-height $button-height;
      border-radius: $button-height / 2;
    }
  }
}

@include respond-to(max) {
  .header-search {
    &.visible {
      width: 800px;
    }
  }
  }