.navigation-list {
  background-color: rgba(0,0,0,0.75);
  padding: 30px 0 30px 0;
  position: fixed;
  top: 73px;
  right: -100%;
  width: 100%;
  z-index: 100;
  text-align: center;
  @include transition(right, 0.3s, linear);

  .link {
    display: inline-block;
  }

  .small-link {
    font-size: 20px;
    margin-top: 15px;
  }

  .small-link,
  .bottom-links .link {
    opacity: 0.75;
    @include transition(opacity, 0.1s, linear);
    &:hover {
      opacity: 1;
    }
  }

  .orange-button-link,
  .yellow-button-link{
    margin: 15px 9px 0 9px;
    padding: 11px 0 0 0;
    font-size: 14px;
    height: 24px;
    border-radius: 18px;
    width: 110px;
    text-align:center;
  }
  .bottom-links {
    margin-top: 10px;
    .link {
      font-size: 20px;
      line-height: 22px;
      margin: 15px 18px 0 18px;
    }
  }

}

.open-menu .navigation-list {
  right: 0;
}

@include respond-to(desktop) {
  .navigation-list {

    margin: 29px 43px 0 0;
    color: $white;
    float: right;
    background-color: transparent;
    padding: 0;
    position: static;
    max-width: 1000px;

    .top-links,
    .bottom-links {
      float: right;
    }

    .nav-item {
      float: left;
    }
    .small-link {
      font-size: 14px;
      margin: 14px 10px 0 10px;
    }
    .link-border {
      display: inline-block;
      height: 14px;
      width: 1px;
      background-color: $white;
      position: relative;
      top: 2px;
    }
    .orange-button-link,
    .yellow-button-link{
      margin-top: 0;
    }

    .taking-payments-item {
      clear: left;
    }
    .bottom-links {
      margin: 35px 63px 0 0;
      .nav-item {
        height: 22px;
      }
      .link {
        margin-top: 0;
      }
      .link-border {
        height: 18px;
        top: 3px;
      }
    }
  }
}