.featured-article {
  margin-top: 20px;
  .sub-title {
    font-size: 20px;
    margin-top: 5px;
    text-align: left;
    @include ag-bold();

  }

  .date {
    display: none;
  }

  .para,
  .image {
    margin-top: 24px;
  }

  .para {
    font-size: 14px;
    line-height: 1.2em;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .next-article-link {
    margin-top: 20px;
    @include ag-bold();
    color: $dark-turquoise;
    font-size: 20px;
    display: block;
  }
  .chevron-link {
    display: none;
    //      $height: 44px;
    //      height: $height;
    //      width: $height;
    //      border-radius: $height / 2;
    //      background-color: $dark-yellow;
    //      position: relative;
    //      top: -12px;

  }

}