.latest-news {

  .top-story-title {
    font-size: 18px;
    margin-top: 30px;
    @include ag-bold();
  }
  .top-story-image-link {
    margin-top: 10px;
    .link-text {
      right: 80px;
    }
    .background-circle {
      height: 500px;
      width: 500px;
      top: -60px;
      left: -220px;
    }
    .extract,
    .date {
      display: none;
    }
  }
}

@include respond-to(desktop) {
  .latest-news {

    .content-title {
      display: none;
    }

    .top-story-title {
      font-size: 45px;
      color: $white;
      text-transform: uppercase;
      margin-top: -45px;
      position: relative;
      top: 150px;
      z-index: 50;
      left: 85px;
      width: 470px;
    }

    .top-story-image-link {

      margin-top: 40px;
      display: block;
      width: 100%;
      float: none;

      .link-text,
      .extract,
      .date {
        left: 85px;
        width: 470px;
      }

      .link-text {
        top: 120px;
        font-size: 38px;
      }
      .extract,
      .date {
        display: block;
        position: absolute;
        color: $white;
        font-size: 20px;
        line-height: 1.2em;
      }
      .extract {
        top: 230px;
        padding: 0;
        height: auto;
      }
      .date {
        top: 305px;
      }
      .pencil-icon {
        display: inline-block;
        $height: 30px;
        height: $height;
        width: $height;
        border-radius: $height / 2;
        background-color: $white;
        position: relative;
        top: 7px;
        margin-right: 10px;
      }
      .next-svg {
        $height: 56px;
        height: $height;
        width: $height;
        border-radius: $height / 2;
        top: 230px;
        right: auto;
        bottom: auto;
        left: 568px;

      }

    }
    .article-list {
      overflow: hidden;
      clear: both;
      margin-top: 60px;
    }

  }

}

