.media-center {
  .article-image-list {
    overflow: hidden;
    margin-top: 5px;
  }
}

@include respond-to(desktop) {
  .media-center {
    .content-title {
      display: block;
      margin-top: 35px;
      font-size: 32px;
      text-align: left;
    }
    .article-image-list {
      margin-top: 25px;
    }
  }
}