.news-menu-content {
  display: none;
  padding: 0 10px 32px 10px;

  &.visible {
    display: block;
  }

  .content-title {
    margin-top: 42px;
    font-size: 24px;
    text-align: center;
    @include ag-bold();
  }

}

@include respond-to(desktop) {
  .news-menu-content {
    padding: 0 50px 95px 50px;
    .content-title {
      display: none;
    }

  }
}