.publications {
  .sub-title {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    @include ag-bold();
  }
}

@include respond-to(desktop) {
  .publications {
    overflow: hidden;
    .featured-article {
      width: 65%;
      float: left;
    }
    .most-read {
      width: 25%;
      float: right;
    }
    .sub-title {
      font-size: 30px;
    }
  }
}