.videos {

  .sub-title {
    font-size: 20px;
    margin-top: 55px;
    text-align: center;
    @include ag-bold();
  }

  .article-image-list {
    margin-top: 20px;
  }

  .link-text {
    right: 20px;
    top: 55px;
    bottom: auto;
  }

  .play-svg {
    @include circle(44px);
    position: absolute;
    overflow: hidden;
    right: auto;
    left: 15px;
    bottom: 15px;
    opacity: 0.75;
    .shape {
      fill: $dark-yellow;
    }
    .triangle {
      fill: $white;
    }
  }
  .article-image-link:hover {
    .play-svg {
      opacity: 1;
    }
  }

}

@include respond-to(desktop) {
  .videos {
    .sub-title {
      margin-top: 60px;
      font-size: 30px;
    }
    .article-image-list {
      overflow: hidden;
    }
    .article-image-link {
      margin-top: 25px;
    }

    .link-text {
      width: auto;
      left: 24px;
      right: 24px;
      top: 15px;
      font-size: 20px;
    }
    .play-svg {
      $height: 44px;
      height: $height;
      width: $height;
      border-radius: $height / 2;
    }
    .load-more-link {
      margin-top: 40px;
    }
  }
}
@include respond-to(max) {
  .videos {
    .link-text {
      top: 75px;
    }
    .play-svg {
      $height: 55px;
      height: $height;
      width: $height;
      border-radius: $height / 2;
    }

  }
}