<ul class="search-results">
    <li class="search-item">
        <h2 class="sub-title">Page: <span class="strong">Taking payments</span></h2>

        <p class="preview">
            <span class="text"></span>
            <a class="link read-more-link" href="#">read more</a>
        </p>
        <span class="extract">Card acceptance has never been easier. The Adflex Virtual Terminal has been designed to replace the
            traditional stand-alone card <a class="link" href="#">payment processing</a> terminal with a more flexible software based
            solution. In addition to <a class="link" href="#">processing</a> normal credit/debit card transactions, the Adflex
            Virtual Terminal is able to process Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</span>
        <a class="link go-to-link" href="/news/article">Go to page</a>
    </li>

    <li class="search-item">
        <h2 class="sub-title">Page: <span class="strong">Payment partners</span></h2>

        <p class="preview">
            <span class="text"></span>
            <a class="link read-more-link" href="#">read more</a>
        </p>

        <p class="extract">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
        <a class="link go-to-link" href="/news/article">Go to page</a>
    </li>

    <li class="search-item with-image">
        <h2 class="sub-title">Page: <span class="strong">News and media</span></h2>

        <p class="preview">
            <span class="text"></span>
            <a class="link read-more-link" href="#">read more</a>
        </p>

        <p class="extract">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
        <a class="link go-to-link" href="/news/article">Go to page</a>
        <img class="image" src="/assets/news/video.png" />
    </li>
</ul>