<form class="search-form" action="/search">
    <label class="container">
        <span class="label-text">Search for</span>
        <input class="input" name="question" id="question" aria-invalid="false" value="Payment processing"/>
    </label>
    <label>
        <input type="submit" class="submit-button">
        <%= erb :'svg/search' %>
    </label>
</form>
