<div class="search-form-container">
    <ul class="sub-menu">
        <li class="menu-item">
            <a class="link open-filters-link" href="#">
                <%= erb :'svg/filter' %>
            </a>
        </li>
        <li class="menu-item">
            <a class="link" href="/search">
                <%= erb :'svg/home' %>
            </a>
        </li>
    </ul>
    <%= erb :'search/search_form' %>

    <ul class="filters">
        <li class="filter-item">
            <a class="link" href="#">
                Filter one
            </a>
        </li>
        <li class="filter-item">
            <a class="link" href="#">
                Filter two
            </a>
        </li>
        <li class="filter-item">
            <a class="link" href="#">
                Filter three
            </a>
        </li>
    </ul>
</div>