<div class="hero developers-hero">
    <div class="hero-content">
        <p class="title">Implementing payment processes easily</p>
        <img class="background-image" height="782" width="1225" src="/assets/processing-payments/hero.png" />
    </div>
</div>