<div class="hero developers-hero">
    <div class="hero-content">
        <p class="title">Implementing payment processes easily</p>
        <img class="background-image" height="1129" width="2020" src="/assets/developers/hero.jpg" />
    </div>
</div>