<div class="introduction section">
    <h1 class="main-title">Seamless payment applications</h1>
    <p class="para">Lorem ipsum dolar sit amet lorem ipsum dolar sit amet lorem ipsum dolsar sit amet</p>
    <p class="para">Lorem ipsum dolar sit amet lorem ipsum dolar sit amet lorem ipsum dolsar sit amet</p>
    <p class="para">Lorem ipsum dolar sit amet lorem ipsum dolar sit amet lorem ipsum dolsar sit amet</p>
    <a class="orange-button-link link" href="#">Client feedback</a>
</div>
