.homepage-hero {
  border-bottom: 2px solid $purple;
  .title {
    margin-top: 280px;
  }
  .sign-up-link,
  .call-back-link {
    display: inline-block;
  }
  .yellow-button-link {
    margin-top: 38px;
  }
  .white-button-link {
    margin-top: 19px;
  }
  .background-image {
    top: -90px;
    right: -385px;
    margin-right: 0;
  }

}

@include respond-to(tablet) {
  .homepage-hero {
    .background-image {
      top: -100px;
      right: 50%;
      $image-width: 1024px;
      margin-right: -($image-width/2);
    }
  }
}

@include respond-to(desktop) {
  .homepage-hero {
    .title {
      margin-top: 440px;
    }
    .button-link-item {
      display: inline-block;
      margin: 0 22px;
    }
    .yellow-button-link,
    .white-button-link {
      margin-top: 58px;
    }
    .background-image {
      top: 0;
      $image-width: 1324px;
      margin-right: -($image-width/2);
    }
  }
}