.homepage-hero {
  border-bottom: 2px solid $purple;
  .title {
    margin-top: 280px;
  }
  .sign-up-link,
  .call-back-link {
    display: inline-block;
  }
  .sign-up-link {
    margin-top: 38px;
    height: 32px;
    font-size: 16px;
    padding: 18px 45px 0 45px;
    border-radius: 25px;
    background-color: $dark-yellow;
    color: $black;
  }
  .call-back-link {
    margin-top: 19px;
    font-size: 16px;
    color: $orange;
    padding-bottom: 4px;
    border-bottom: 1px solid $orange;
  }
  .background-image {
    top: -90px;
    right: -385px;
    margin-right: 0;
  }

}

@include respond-to(tablet) {
  .homepage-hero {
    .background-image {
      top: -100px;
      right: 50%;
      $image-width: 1024px;
      margin-right: -($image-width/2);
    }
  }
}

@include respond-to(desktop) {
  .homepage-hero {
    .title {
      margin-top: 440px;
    }
    .button-link-item {
      display: inline-block;
      margin: 0 22px;
    }
    .sign-up-link,
    .call-back-link {
      margin-top: 62px;
      width: 224px;
      font-size: 26px;
      border-radius: 33px;
      padding: 20px 0 0 0;
      height: 46px;
      border: 2px solid $dark-yellow;
    }
    .call-back-link {
      background-color: $button-transparency;
      border: 2px solid $orange;
      color: $white;
      padding-bottom: 0;
    }
    .background-image {
      top: 0;
      $image-width: 1324px;
      margin-right: -($image-width/2);
    }
  }
}