.latest-from {
  overflow: hidden;
  background-color: $purple;
  .title {
    @include ag-bold();
    color: $white;
    font-size: 24px;
    text-align: center;
    margin-top: 72px;
  }

}

@include respond-to(desktop) {
  .latest-from {
    .title {
      font-size: 28px;
      margin-top: 42px;
    }
  }
}