.news-articles {
  margin-top: 74px;
  padding-bottom: 66px;
  .article {
    height: 245px;
    width: 245px;
    position: relative;
    overflow: hidden;
    margin-right: 18px;
    border-radius: 10px;
  }
  .article-title {
    font-size: 16px;
    line-height: 1.4em;
    margin: 163px 110px 0 15px;
    color: $white;
    position: relative;
    opacity: 0.75;
    @include transition(opacity, 0.1s, linear);
  }
  .article-title,
  .facebook-svg,
  .twitter-svg,
  .youtube-svg,
  .linked-in-svg,
  .link,
  .next-svg{
    z-index: 10;
  }
  .facebook-svg,
  .twitter-svg,
  .youtube-svg,
  .linked-in-svg,
  .link,
  .image,
  .next-svg,
  .circle{
    position: absolute;
  }
  .facebook-svg,
  .twitter-svg,
  .youtube-svg,
  .linked-in-svg, {
    width: 60px;
    height: auto;
    top: 0;
    right: 0;
    .border {
      fill: transparent;
    }
    .shape {
      fill: $white;
    }
  }
  .link,
  .image {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .circle {
    $circle-height: 300px;
    height: $circle-height;
    width: $circle-height;
    border-radius: $circle-height;
    background-color: rgba(0,0,0,0.5);
    bottom: -175px;
    left: -63px;
    z-index: 5;
    @include transition(all, 0.2s, linear);
  }

  .link {
    display: inline-block;
  }
  .image {
    height: 100%;
    width: auto;
  }
  .next-svg {
    bottom: 24px;
    right: 12px;
    opacity: 0.75;
    @include transition(all, 0.1s, linear);
    @include circle(36px);
    .shape {
      fill: $dark-yellow;
    }
  }
  .article:hover {
    .circle {
      $circle-height: 320px;
      height: $circle-height;
      width: $circle-height;
      border-radius: $circle-height;
    }
    .next-svg,
    .article-title{
      opacity: 1;
    }
  }
  .slick-dots {
    top: -50px;
    bottom: auto;
    li,
    li button{
      width: 12px;
      height: 12px;
    }
    li {
      margin: 0 4px;
    }

  }
}



@include respond-to(desktop) {
  .news-articles {
    margin-top: 32px;
    padding-bottom: 56px;
    text-align: center;
    .article {
      height: 290px;
      width: 290px;
      margin: 0 20px;
      display: inline-block;
    }
    .article-title {
      font-size: 20px;
      margin: 220px 80px 0 28px;
      text-align: left;
    }
    .facebook-svg,
    .twitter-svg,
    .youtube-svg,
    .linked-in-svg {
      top: 4px;
      right: 8px;
      width: 90px;
    }
    .next-svg {
      height: 56px;
      right: 23px;
      bottom: 40px;
      @include circle(55px);
    }
    .circle {
      height: 460px;
      width: 460px;
      left: -102px;
      bottom: -270px;
    }
    .article:hover {
      .circle {
        height: 500px;
        width: 500px;
      }
    }
  }
}

@include respond-to(max) {
  .news-articles {
    .article {
      height: 375px;
      width: 375px;
    }
    .article-title {
      font-size: 25px;
      margin-top: 250px;
      margin-right: 150px;
    }
  }
}
