<div class="footer-links">
    <ul class="links-list">
        <li class="link-item">
            <a class="link" href="terms-of-use">Terms of use</a>
            <span class="border"></span>
        </li>
        <li class="link-item">
            <a class="link" href="privacy-policy">Privacy policy</a>
            <span class="border"></span>
        </li>
        <li class="link-item">
            <a class="link" href="cookie-policy">Cookie Policy</a>
        </li>
    </ul>
</div>