<ul class="social-media-links">
    <li>
        <a href="#">Adflex on Facebook</a>
    </li>
    <li>
        <a href="#">Adflex on YouTube</a>
    </li>
    <li>
        <a href="#">Adflex on Twitter</a>
    </li>
    <li>
        <a href="#">Adflex on LinkedIn</a>
    </li>
</ul>