<ul class="social-media-links links-list">
    <li class="link-item">
        <a class="link facebook-link" href="#">
            <span class="offscreen-text">Adflex on Facebook</span>
        </a>
    </li>
    <li class="link-item">
        <a class="link youtube-link" href="#">
            <span class="offscreen-text">Adflex on YouTube</span>
        </a>
    </li>
    <li class="link-item">
        <a class="link twitter-link" href="#">
            <span class="offscreen-text">Adflex on Twitter</span>
        </a>
    </li>
    <li class="link-item">
        <a class="link linkedin-link" href="#">
            <span class="offscreen-text">Adflex on LinkedIn</span>
        </a>
    </li>
</ul>