<div class="news-menu">
    <%= erb :'/article/news_menu_mobile_part' %>
    <div class="menu-container">
        <ul class="main-menu">
            <li class="home-link-item">
                <a class="link" href="/news">
                    <%= erb :'svg/home' %>
                </a>
            </li>
            <li class="link-item">
                <a class="link selected" href="/news#latest-news">Latest news</a>
                <span class="border"></span>
            </li>
            <li class="link-item">
                <a class="link" href="/news#publications">Publications</a>
                <span class="border"></span>
            </li>
            <li class="link-item">
                <a class="link" href="/news#videos">Videos</a>
                <span class="border"></span>
            </li>
            <li class="link-item">
                <a class="link" href="/news#media-center">Media center</a>
            </li>
            <li>
                <a class="search-link" href="#">
                    <%= erb :'svg/search' %>
                </a>
                <form class="search-form">
                    <input type="text" placeholder="Search">
                    <button class="submit-button" type="submit"></button>
                </form>
            </li>
        </ul>
        <%= erb :'_partials/social_media_links' %>
    </div>
</div>
