<div class="address">
    <h3 class="address-title">Adflex LTD</h3>
    <p class="para">Burtwood House, 7 Shenfield Rd, Brentwood, Essex, CM15 8AG</p>
    <a class="link" href="#">view on google maps</a>
</div>