<div class="address">
    <h3 class="address-title">Adflex LTD</h3>
    <p class="para">Burtwood House, 7 Shenfield Rd, Brentwood, Essex, CM15 8AG</p>
    <a class="link" href="#">
        <img class="image" src="/assets/help/google-maps.png" height="106" width="100" alt="Google Maps Icon"/>
        <span class="offscreen-text">view on google maps</span>
    </a>
</div>