<div class="contact-details">
    <h2 class="sub-title">Contact details</h2>
    <p>Get in touch with our support team by using the following options:</p>
    <ul>
        <li>
            <a href="tel:+441277268755">
                <%= erb :'svg/home' %>
                <span>+44 (0) 1277 268 755</span>
            </a>
        </li>
        <li>
            <span>
                <%= erb :'svg/home' %>
                <span>+44 (0) 1277 268 755</span>
            </span>
        </li>
        <li>
            <a href="mailto:support@adflex.com">
                <%= erb :'svg/home' %>
                <span>support@adflex.com</span>
            </a>
        </li>
    </ul>
    <%= erb :'help/address' %>
</div>