<div class="contact-details">
    <h2 class="sub-title">Contact details</h2>
    <p class="para desktop-only">Whether it's issues regarding implentation or payment processing, we’re here to help. </p>
    <p class="para">Get in touch with our support team by using the following options:</p>
    <ul class="contact-list">
        <li class="contact-item">
            <a class="link icon-container" href="tel:+441277268755">
                <%= erb :'svg/home' %>
                <span>+44 (0) 1277 268 755</span>
            </a>
        </li>
        <li class="contact-item">
            <span class="icon-container">
                <%= erb :'svg/home' %>
                <span>+44 (0) 1277 268 755</span>
            </span>
        </li>
        <li class="contact-item">
            <a class="link icon-container" href="mailto:support@adflex.com">
                <%= erb :'svg/home' %>
                <span>support@adflex.com</span>
            </a>
        </li>
    </ul>
    <%= erb :'help/address' %>
</div>