<div class="hero help-hero">
    <div class="hero-content">
        <h1 class="title">Help centre</h1>
        <%= erb :'help/question_form' %>
        <img class="background-image" height="782" width="1225" src="/assets/help/hero.jpg" />
    </div>
</div>