<ul class="help-nav">
    <li class="nav-item">
        <a class="link" href="#">
            <%= erb :'svg/payments' %>
            <span class="button">Payments</span>
        </a>
    </li>
    <li class="nav-item current-page">
        <a class="link" href="#">
            <%= erb :'svg/my_account' %>
            <span class="button">My Account</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="link" href="#">
            <%= erb :'svg/card_issues' %>
            <span class="button">Card issues</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="link" href="#">
            <%= erb :'svg/other' %>
            <span class="button">Other</span>
        </a>
    </li>


</ul>