<ul class="help-nav">
    <li class="nav-item">
        <a class="link" href="#">
            <%= erb :'svg/home' %>
            <span class="button">Payments/Transactions</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="link" href="#">
            <%= erb :'svg/home' %>
            <span class="button">My account</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="link" href="#">
            <%= erb :'svg/home' %>
            <span class="button">Card ssues</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="link" href="#">
            <%= erb :'svg/home' %>
            <span class="button">Other</span>
        </a>
    </li>


</ul>