<ul class="help_nav">
    <li>
        <a href="#">
            <%= erb :'svg/home' %>
            <span class="orange-button-link">Payments/Transactions</span>
        </a>
    </li>
    <li>
        <a href="#">
            <%= erb :'svg/home' %>
            <span class="orange-button-link">My account</span>
        </a>
    </li>
    <li>
        <a href="#">
            <%= erb :'svg/home' %>
            <span class="orange-button-link">Card ssues</span>
        </a>
    </li>
    <li>
        <a href="#">
            <%= erb :'svg/home' %>
            <span class="orange-button-link">Other</span>
        </a>
    </li>


</ul>