<form class="question-form" action="/search">
    <label class="container">
        <span class="label-text">What seems to be the problem?</span>
        <input class="input" name="question" id="question" aria-invalid="false" placeholder="What seems to be the problem?"/>
    </label>
    <label>
        <input type="submit" class="submit-button">
        <%= erb :'svg/search' %>
    </label>
</form>