<ul class="hero">
    <li>
        <img src="/assets/hero/first.jpg" />
    </li>
    <li>
        <img src="/assets/hero/second.jpg" />
    </li>
    <li>
        <img src="/assets/hero/third.jpg" />
    </li>
</ul>