<ul class="hero">
    <li>
        <h2>15 + years experience delivering trusted & tailored payment solutions</h2>
        <a href="#">Sing up now</a>
        <a href="#">Request a call back</a>
        <img src="/assets/hero/first.jpg" />
    </li>
    <li>
        <h2>Lorem ipsum dolar sit amet</h2>
        <a href="#">Sign up now</a>
        <a href="#">Request a call back</a>
        <img src="/assets/hero/second.jpg" />
    </li>
    <li>
        <h2>Lorem ipsum dolar sit amet Lorem ipsum dolar sit amet</h2>
        <a href="#">Sign up now</a>
        <a href="#">Request a call back</a>
        <img src="/assets/hero/third.jpg" />
    </li>
</ul>