<div class="hero homepage-hero">
    <ul class="content-list">
        <li class="hero-content">
            <h2 class="title">15 + years experience delivering trusted & tailored payment solutions</h2>
            <ul>
                <li class="button-link-item">
                    <a class="link yellow-button-link" href="#">Sign up now</a>
                </li>
                <li class="button-link-item">
                    <a class="link white-button-link" href="#">Request a call</a>
                </li>
            </ul>
            <img class="background-image" height="782" width="1225" src="/assets/homepage/hero/first.jpg" />
        </li>
        <li class="hero-content">
            <h2 class="title">Lorem ipsum dolar sit amet</h2>
            <ul>
                <li class="button-link-item">
                    <a class="link yellow-button-link" href="#">Sign up now</a>
                </li>
                <li class="button-link-item">
                    <a class="link white-button-link" href="#">Request a call</a>
                </li>
            </ul>
            <img class="background-image" height="782" width="1225" src="/assets/homepage/hero/second.jpg" />
        </li>
        <li class="hero-content">
            <h2 class="title">Lorem Ipsum</h2>
            <ul>
                <li class="button-link-item">
                    <a class="link yellow-button-link" href="#">Sign up now</a>
                </li>
                <li class="button-link-item">
                    <a class="link white-button-link" href="#">Request a call</a>
                </li>
            </ul>
            <img class="background-image" height="782" width="1225" src="/assets/homepage/hero/third.jpg" />
        </li>
    </ul>
    <a class="scroll-down-link" href="#"><%= erb :'svg/next_trans' %></a>
</div>