<div class="latest-from">
    <h2>Latest from Adflex</h2>
    <ul>
        <li>
            <h3>5 Big changes we can expect from Trump</h3>
            <img src="/assets/homepage/latest-from/news-one.jpg" height="375" width="375">
            <a href="#">Read More</a>
        </li>
    </ul>
</div>