<div class="showcase">
    <h2 class="sub-title">How can we help you?</h2>
    <ul>
        <li>
            <a href="#" class="link taking-payments-link">
                <%= erb :'homepage/showcase/hand' %>
                <%= erb :'homepage/showcase/mobile' %>
                <%= erb :'homepage/showcase/waves' %>
                <span class="link-text">Taking payments</span>
                <%= erb :'svg/next' %>
            </a>
        </li>
        <li>
            <a href="#" class="link">Development an onlne solution</a>
        </li>
        <li>
            <a href="#" class="link">Consulting for B2B</a>
        </li>
    </ul>

</div>