<div class="showcase">
    <h2>How can we help you?</h2>
    <ul>
        <li>
            <a href="#" class="link">Taking payments</a>
        </li>
        <li>
            <a href="#" class="link">Development an onlne solution</a>
        </li>
        <li>
            <a href="#" class="link">Consulting for B2B</a>
        </li>
    </ul>

</div>