<form class="header-search" action="/search">
    <div class="bordered-container">
        <input class="keyword-field" type="text" placeholder="Search" name="keyword" id="search" aria-invalid="false">
        <label>
            <input type="submit" class="submit-button" />
            <%= erb :'svg/next_trans' %>
        </label>
    </div>
</form>