<form class="header-search" action="/search">
    <input class="keyword-field" type="text" placeholder="Search" name="keyword" id="search" aria-invalid="false">
    <input class="submit-button" type="submit">
</form>