<ul class="navigation-list">
    <li>
        <ul class="top-links">
            <li class="nav-item">
                <a class="link small-link" href="/about-us">About us</a><span class="link-border"></span>

            </li>
            <li class="nav-item">
                <a class="link small-link" href="/news-and-media">News &amp; media</a>
            </li>
            <li class="nav-item">
                <a class="link button-link sign-in-link" href="#">Sign in</a>
            </li>
            <li class="nav-item">
                <a class="link button-link apply-now-link" href="#">Apply now</a>
            </li>
        </ul>
    </li>
    <li>
        <ul class="bottom-links">
            <li class="nav-item">
                <a class="link" href="/taking-payments">Taking payments</a><span class="link-border"></span>
            </li>
            <li class="nav-item">
                <a class="link" href="/developers">Developers</a><span class="link-border"></span>
            </li>
            <li class="nav-item">
                <a class="link" href="payment-partners">Payment partners</a><span class="link-border"></span>
            </li>
            <li class="nav-item">
                <a class="link" href="/support-and-contact">Support &amp; contact</a>
            </li>
        </ul>
    </li>



</ul>