// colours

$purple: #858ABE;
$maroon: #3C2938;
$light-turquoise: #80D0D8;
$dark-turquoise: #00A0B0;
$light-yellow: #F8F59B;
$dark-yellow: #F1EB36;
$light-pink: #F69AC8;
$dark-pink: #ED3590;
$white: #FFFFFF;
$off-white: #EAE5D8;
$orange: #F4863F;
$lime: #CFDA4A;
$black: #000000;

$off-blue: #f3f3f8;
$unimportant-grey: #ccc;
$button-transparency: rgba(0,0,0,0.3);
$red: #ff3249;

//fonts

@mixin ag-regular() {
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 400;
}
@mixin ag-bold() {
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 700;
}
@mixin ag-light() {
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 300;
}


