// colours

$purple: #858ABE;
$maroon: #3C2938;
$teruoise: #80D0D8;
$light-yellow: #F8F59B;
$dark-yellow: #F1EB36;
$light-pink: #F69AC8;
$dark-pink: #ED3590;
$white: #FFFFFF;
$off-white: #EAE5D8;
$terquoise: #00A0B0;
$orange: #F4863F;
$lime: #CFDA4A;
$black: #000000;

$unimportant-grey: #ccc;
$button-transparency: rgba(0,0,0,0.3);

//fonts

$ag-light: 'AkticGrotesk Light', helvetica, arial, sans-serif;
$ag-bold: 'AkticGrotesk Bold', helvetica, arial, sans-serif;
$ag-regular: 'AkticGrotesk Regular', helvetica, arial, sans-serif;



