.footer-links {

  padding: 16px 0;
  background-color: $maroon;
  text-align: center;

  .border {
    height: 10px;
    width: 1px;
    background-color: $purple;
    display: inline-block;
  }

  .link {
    color: $purple;
    margin: 0 17px;
    font-family: $ag-light;
    font-size: 12px;
  }
}