.footer {
  background-color: $white;
  text-align: center;
  padding-bottom: 30px;

  .pci-logo {
    margin-top: 16px;
    width: 130px;
    height: auto;
  }

  .logo-link {
    display: block;
    margin-top: 20px;
  }

  .logo {
    height: 42px;
    width: auto;
  }

  .copyright-information {
    @include ag-light();
    margin-top: 16px;
    font-size: 8px;
    color: $black;
  }
}

@include respond-to(desktop) {
  .footer {
    padding: 165px 0 36px 0;
    position: relative;

    .pci-logo {
      position: absolute;
      right: 80px;
      bottom: 60px;
      width: 150px;
    }
    .logo-link {
      display: inline-block;
      margin-top: 30px;
    }
    .logo {
      height: 51px;
    }
    .copyright-information {
      margin-top: 20px;
      font-size: 14px;
    }

  }
}