.footer-links {

  padding: 16px 0;
  background-color: $maroon;

  .links-list {
    margin: 0 auto;

  }

  text-align: center;

  .footer-link-item {
    display: inline-block;
  }

  .border {
    height: 10px;
    width: 1px;
    background-color: $purple;
    display: inline-block;
  }

  .link {
    display: inline-block;
    color: $purple;
    margin: 0 17px;
    font-family: $ag-light;
    font-size: 12px;
  }
}