.footer {
  background-color: $white;
  text-align: center;

  .accreditation-text {
    margin-top: 15px;
    color: $purple;
    font-family: $ag-light;
    font-size: 9px;
  }

  .logo {
    display: block;
    margin: 20px auto 0 auto;
    height: 38px;
    width: 130px;
    background: transparent url($image-folder + '/footer/logo.png') top left / 130px 38px no-repeat;
  }

  .copyright-information {
    margin-top: 16px;
    font-size: 9px;
    color: $black;
  }
}