.footer {
  background-color: $white;
  text-align: center;

  .pci-logo {
    margin-top: 16px;
    width: 130px;
    height: auto;
  }

  .logo-link {
    display: block;
    margin-top: 20px;
  }

  .logo {
    height: 42px;
    width: auto;
  }

  .copyright-information {
    margin-top: 16px;
    font-size: 8px;
    color: $black;
  }
}