.header-background {

  $header-height: 73px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  z-index: -10;

  .left-part {
    background: transparent url($image-folder + '/header/background-overlay-mobile.png') no-repeat top left;
    background-size: 320px $header-height;
    float: left;
    width: 320px;
    height: 100%;
  }
  .right-part {
    background: transparent url($image-folder + '/header/background-mobile.png') repeat top left;
    background-size: 1px $header-height;
    overflow: hidden;
    height: 100%;
  }
}

@include respond-to(desktop) {
  .header-background {
    .left-part {
      width: 560px;
      background-size: 560px 141px;
    }
  }
}
