.header {

  $header-height: 72px;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  border-bottom: 1px solid $dark-pink;
  z-index: 50;

  .content {
    position: relative;
    height: $header-height;
  }

  .logo {
    height: 45px;
    width: auto;
    position: absolute;
    top: 13px;
    left: 70px;
  }

  .search-link,
  .menu-link {
    position: absolute;
    top: 23px;
    height: 38px;
    width: 38px;
    background: transparent url($image-folder + '/header/search-icon.png') top left / 35px 35px no-repeat;
  }
  .search-link {
    left: 15px;

  }
  .menu-link {
    right: 10px;
    background-image: url($image-folder + '/header/menu-icon.png');
  }
  .navigation-list {
    display: none;
  }

}

@include respond-to(big-mobile) {
  .header {

    $header-height: 170px;

    height: $header-height;
    border-bottom-width: 3px;

    .logo {
      background-size: 450px 105px;
      height: 105px;
      width: 450px;
      top: 34px;
      left: 162px;
    }
    .search-link,
    .menu-link {
      top: 57px;
      height: 82px;
      width: 82px;
      background-size: 82px 82px;
    }
    .search-link {
      left: 35px;
    }
    .menu-link {
      right: 23px;
    }
  }
}