.header {

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 72px;
  z-index: 50;

  .content {
    position: relative;
    height: 100%;
    overflow: hidden;
    max-width: 1364px;
    margin: 0 auto;
    border-bottom: 1px solid $dark-pink;
  }

  .logo {
    height: 45px;
    width: auto;
    position: absolute;
    top: 13px;
    left: 70px;
  }

  .search-link,
  .menu-link {
    position: absolute;
    top: 23px;
    height: 38px;
    width: 38px;
  }
  .search-link {
    left: 15px;
  }
  .menu-link {
    right: 10px;
  }
}

@include respond-to(desktop) {
  .header {
    height: 141px;
    .content {
      border-bottom-width: 3px;
    }
    .logo {
      height: 65px;
      top: 50px;
      left: 57px;
    }
    .search-link {
      top: auto;
      right: 52px;
      bottom: 11px;
      left: auto;
    }
    .seach-image {
      height: 42px;
      width: auto;
    }
    .menu-link {
      display: none;
    }
  }
}