.help-page {
  padding-top: 73px;
  color: $maroon;
  text-align: center;
  .main-title,
  .sub-title {
    @include ag-bold();
    font-size: 35px;
    margin: 50px 30px 0 30px;
  }
  .para {
    @include ag-light();
    margin: 10px 15px 0 15px;
    font-size: 14px;
    line-height: 1.2em;
  }
}

@include respond-to(desktop) {
  .help-page {
    padding-top: 141px;
    .main-title {
      font-size: 70px;
      margin-top: 70px;
    }
    .sub-title {
      margin-top: 105px;
    }
    .para {
      font-size: 23px;
      margin: 15px 0 0 0;
    }
  }
}