.all-content {
  @include ag-regular();
  margin: 0 auto;
}
.offscreen-text {
  text-indent: -9999px;
  white-space: nowrap;
  display: inline-block;
  text-align: left;
}
.link {
  text-decoration: none;
  color: $white;
  @include transition(all, 0.1s, linear);
  .shape,
  .border {
    @include transition(all, 0.1s, linear);
  }
}
.hidden {
  display: none;
}
.strong {
  @include ag-bold();
}
.italic {
  font-style: italic;
}
.block-on-mobile {
  display: block;
}
.desktop-only {
  display: none;
}
@include respond-to(desktop) {
  .block-on-mobile {
    display: inline;
  }
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
}