.all-content {
  font-family: Helvetica, Arial, sans-serif;
  max-width: 1364px;
  padding-bottom: 500px;
}
.offscreen-text {
  text-indent: -9999px;
  white-space: nowrap;
  display: inline-block;
}
.link {
  text-decoration: none;
}
