.all-content {
  @include ag-regular();
  margin: 0 auto;
}
.offscreen-text {
  text-indent: -9999px;
  white-space: nowrap;
  display: inline-block;
}
.link {
  text-decoration: none;
  color: $white;
}
