.navigation-list {
  display: none;
}

@include respond-to(desktop) {
  .navigation-list {
    display: block;
    margin: 29px 43px 0 0;
    color: $white;
    float: right;

    .top-links,
    .bottom-links {
      float: right;
    }

    .nav-item {
      display: inline-block;
      float: left;
    }
    .link {
      display: inline-block;
    }
    .small-link {
      font-size: 14px;
      margin: 14px 10px 0 10px;
    }
    .link-border {
      display: inline-block;
      height: 14px;
      width: 1px;
      background-color: $white;
      position: relative;
      top: 2px;
    }
    .button-link {
      margin: 0 9px;
      padding-top: 12px;
      font-size: 14px;
      height: 24px;
      border-radius: 18px;
      width: 110px;
      text-align:center;
    }
    .sign-in-link {
      color: $white;
      background-color: $orange;
    }
    .apply-now-link {
      color: $black;
      background-color: $dark-yellow;
    }
    .taking-payments-item {
      clear: left;
    }
    .bottom-links {
      margin: 35px 63px 0 0;
      .nav-item {
        height: 22px;
      }
      .link {
        font-size: 20px;
        line-height: 22px;
        margin: 0 18px;
      }
      .link-border {
        height: 18px;
        top: 3px;
      }
    }
  }
}