.news-menu {
  position: relative;

  .link {
    @include ag-light();
  }

  .menu-container {
    background-color: $purple;
    padding: 0 50px 0 50px;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    @include transition(max-height, 0.4s, linear);
  }

  &.open {
    .menu-container {
      max-height: 400px;
    }
  }

  .home-link-item,
  .main-menu {
    padding-bottom: 25px;
    border-bottom: 1px solid $white;
  }

  .home-svg {
    @include circle(40px);
    .border,
    .shape {
      fill: $white;
    }
    &:hover {
      background-color: $white;
      .shape {
        fill: $purple;
      }
    }
  }

  .link-item {
    .link {
      margin-top: 25px;
    }
  }

  .main-menu {

    margin-top: 10px;

    .link {
      font-size: 18px;
      margin-top: 20px;
      display: block;
    }

  }
  .search-form {
    display: none;
  }
  .search-link {
    position: absolute;
    top: 20px;
    left: 65px;
  }
  .search-svg {
    @include circle(38px);
    background-color: transparent;
    @include transition(background-color, 0.1s, linear);
    .shape,
    .border{
      fill: $white;
    }
  }
  .search-link:hover {
    .search-svg {
      background-color: $white;
      @include circle(38px);
      .shape{
        fill: $maroon;
      }
    }
  }

  .social-media-links {
    margin-bottom: 50px;
    .border,
    .shape {
      fill: $white;
    }
    .link:hover {
      background-color: $white;
      .shape {
        fill: $purple;
      }
    }
  }

}

@include respond-to(desktop) {
  .news-menu {
    .menu-container {
      background-color: $white;
      max-height: none;
      text-align: right;
    }
    .home-link-item,
    .social-media-links {
      display: none;
    }
    .link-item {
      display: inline-block;
    }
    .main-menu {
      margin-top: 60px;
      margin-right: 63px;
    }
    .main-menu .link {
      @include ag-regular();
      color: $black;
      display: inline-block;
      font-size: 20px;
      line-height: 22px;
      margin: 0 18px;
      opacity: 0.75;
      @include transition(opacity, 0.1s, linear);
      &:hover {
        opacity: 1;
      }
    }
    .border {
      height: 18px;
      top: 3px;
      width: 1px;
      background-color: $black;
      position: relative;
      display: inline-block;
    }
    .search-link {
      top: auto;
      right: 52px;
      bottom: 4px;
      left: auto;
      background-color: $black;
    }
  }

}