.search-page {
  padding-top: 73px;
  overflow: hidden;
  .main-title {
    margin: 42px 22px 0 22px;
    font-size: 28px;
    text-align: left;
    @include ag-bold();
    color: $maroon;
  }
  .sub-title {
    font-size: 16px;
    color: $maroon;
  }
}

@include respond-to(desktop) {
  .search-page {
    padding-top: 141px;
    background-color: $off-blue;
    .page {
      background-color: $white;
//      max-width: 658px;
      margin: 72px auto 0 auto;
      padding-left: 128px;
      padding-right: 128px;
      width: 838px;
      text-align: left;
      overflow: hidden;
    }
    .main-title {
      font-size: 70px;
      margin-top: 70px;
      text-align: center;
    }
    .sub-title {
      font-size: 30px;
    }
  }
}