.social-media-links {

  margin-top: 24px;

  .link {
    margin: 0 5px;
    @include circle(38px)
  }

  .border,
  .shape {
    fill: $purple;
  }

  .link:hover {
    background-color: $purple;
    .shape {
      fill: $white;
    }
  }

}

@include respond-to(desktop) {
  .social-media-links {
    position: absolute;
    margin-top: 0;
    top: 74px;
    right: 0;
    left: 0;
    text-align: center;
    .link {
      @include circle(60px);
      margin: 0 13px;
    }
  }

}