.social-media-links {

  margin-top: 24px;

  .link {
    height: 37px;
    width: 37px;
    background-size: 37px 37px;
    margin: 0 5px;
  }

  .facebook-link {
    background-image: url($image-folder + '/footer/facebook-icon.png');
  }
  .youtube-link {
    background-image: url($image-folder + '/footer/youtube-icon.png');
  }
  .twitter-link {
    background-image: url($image-folder + '/footer/twitter-icon.png');
  }
  .linkedin-link {
    background-image: url($image-folder + '/footer/linkedin-icon.png');
  }

}

@include respond-to(desktop) {
  .social-media-links {
    position: absolute;
    margin-top: 0;
    top: 74px;
    right: 0;
    left: 0;
    text-align: center;
    .link {
      height: 60px;
      width: 60px;
      background-size: 60px 60px;
      margin: 0 13px;
    }
  }

}