.taking-payments-page {
  .hero {
    .title {
      margin-top: 145px;
    }
    .hero-content {
      height: auto;
      padding-bottom: 80px;
    }
  }
  .main-title {
    color: $dark-pink;
  }
  .pay-page-header {
    overflow: hidden;
    position: relative;
    padding-left: 120px;
    height: 90px;
    .svg,
    .text {
      display: block;
    }
    .svg {
      width: 140px;
      height: auto;
      position: absolute;
      top: -26px;
      left: 0;
    }
    .text {
      @include ag-bold();
      font-size: 45px;
      text-align: left;
      line-height: 0.8em;
      position: relative;
    }
  }
  .action-list {
    padding-bottom: 0;
    .svg {
      .shape,
      .border {
        fill: $white;
      }
    }
  }
  .credit-card-image {
    margin: 20px 10px 0 10px;
    width: 70px;
    display: inline-block;
  }
  .view-all-link {
    @include ag-regular();
  }
}

@include respond-to(desktop) {
  .taking-payments-page {
    .hero {
      .title {
        margin-top: 205px;
      }
      .hero-content {
        padding-bottom: 125px;
      }
    }
  }
}