.taking-payments-page {
  .hero {
    .title {
      margin-top: 145px;
    }
    .hero-content {
      height: auto;
      padding-bottom: 80px;
    }
  }
  .main-title {
    color: $dark-pink;
  }
  .pay-page-header {
    overflow: hidden;
    position: relative;
    padding-left: 120px;
    height: 90px;
    width: 140px;
    margin: 0 auto;
    .svg,
    .text {
      display: block;
    }
    .svg {
      width: 140px;
      height: auto;
      position: absolute;
      top: -26px;
      left: 0;
    }
    .text {
      @include ag-bold();
      font-size: 45px;
      text-align: left;
      line-height: 0.8em;
      position: relative;

    }
  }
  .action-list {
    padding-bottom: 0;
    .svg {
      .shape,
      .border {
        fill: $white;
      }
    }
  }
  .credit-card-image {
    margin: 20px 10px 0 10px;
    width: 70px;
    display: inline-block;
  }
  .view-all-link {
    @include ag-regular();
  }
}

@include respond-to(tablet) {
  .taking-payments-page .action-list {
    padding-left: 0;
    padding-right: 0;
    .action-item {
      width: 230px;
      margin-left: 30px;
      margin-right: 30px;
    }

  }
}

@include respond-to(desktop) {
  .taking-payments-page {
    .hero {
      .title {
        margin-top: 205px;
      }
      .hero-content {
        padding-bottom: 125px;
      }
    }
    .pay-page-header {
      margin-top: 50px;
      padding: 10px 0 0 175px;
      height: 130px;
      width: 170px;
      .svg {
        width: 210px;
        top: -40px;
      }
      .text {
        font-size: 60px;
      }
    }
    .credit-card-image {
      margin-left: 30px;
      margin-right: 30px;
      width: 100px;
    }

  }
}