.yellow-button-link {
  display: inline-block;
  height: 32px;
  font-size: 16px;
  padding: 18px 45px 0 45px;
  border-radius: 25px;
  background-color: $dark-yellow;
  color: $black;
  border: 2px solid $dark-yellow;
  @include transition(all, 0.1s, linear);
  &:hover {
    color: $white;
    background-color: $button-transparency;
  }

}

@include respond-to(desktop) {
  .yellow-button-link {
    width: 224px;
    font-size: 26px;
    border-radius: 33px;
    padding: 20px 0 0 0;
    height: 46px;
    border-width: 2px;
  }
}