.footer-links {

  padding-top: 12px;
  height: 28px;
  background-color: $maroon;
  text-align: center;

  .link {
    color: $white;
    font-size: 12px;
    opacity: 0.75;
    @include transition(opacity, 0.1s, linear);
    &:hover {
      opacity: 1;
    }
  }

  .border {
    height: 10px;
    width: 1px;
    background-color: $white;
    display: inline-block;
    position: relative;
    top: 1px;
    margin: 0 10px;
  }
}

@include respond-to(desktop) {
  .footer-links {
    padding-top: 10px;
    height: 26px;
    .link {
      font-size: 14px;
      @include ag-light();
    }
    .border {
      margin: 0 12px;
      height: 12px;
      top: 2px;
    }
  }
}