.story {
  text-align: center;
  padding: 0 10px 50px 10px;
  overflow: hidden;
  .main-title {
    @include ag-bold();
    font-size: 26px;
    margin-top: 50px;
    $color: $maroon;
    line-height: 1.2em;
  }

  $max-content-height: 336px;

  .story-container {
    max-height: $max-content-height;
    overflow: hidden;
  }
  .story-content {
    position: relative;
    top: 0;
    @include transition(top, 0.4s, linear);
  }
  .para {
    font-size: 14px;
    line-height: 1.2em;
    color: $maroon;
    margin-top: 24px;
  }
  .video-image {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

}

@include respond-to(desktop) {
  .story {
    background-color: $white;
    max-width: 658px;
    margin: 0 auto 78px auto;
    padding-left: 210px;
    padding-right: 210px;
    text-align: left;

    .story-container {
      max-height: none;

    }
    .story-content {
      position: static;
    }

    .main-title {
      font-size: 48px;
      margin-top: 45px;
      line-height: 1em;
    }
    .para {
      font-size: 16px;
    }
    .video-image {
      margin-top: 50px;
    }
  }
}