<div class="featured-video">
    <div class="content">
        <h3 class="feature-title">Feature story</h3>
        <h4 class="sub-title">Election 2017 live updates:</h4>

        <p class="intro-para">Lorem ipsum dolar sit amet</p>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        <p class="date"><%= erb :'svg/pencil' %></span>Last edited 18th May 2017</p>
    </div>
    <img class="video-image" src="/assets/news/video.png"/>
</div>