<div id="latest-news" class="latest-news news-menu-content visible">
    <h2>Latest news</h2>

    <h3>Top Story</h3>

    <h2>Brexit: The impact on the UK and the EU</h2>

    <p>For the majority of businesses in Britain the possibility the UK might leave the European Union - Brexit - is a
        major source of concern</p>
    <a href="#">Read More</a>

    <p>Last edited on 8th May 2017</p>
    <img src="/assets/news/top-story.png"/>
    <ul>
        <li>
            <h2>5 Big changes we can expect from Trump</h2>
            <img src="/assets/news/article.png" height="375" width="375">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <a href="#">Read more</a>
        </li>
        <li>
            <h2>5 Big changes we can expect from Trump</h2>
            <img src="/assets/news/article.png" height="375" width="375">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <a href="#">Read more</a>

        </li>
        <li>
            <h2>5 Big changes we can expect from Trump</h2>
            <img src="/assets/news/article.png" height="375" width="375">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <a href="#">Read more</a>
        </li>
        <li>
            <h2>5 Big changes we can expect from Trump</h2>
            <img src="/assets/news/article.png" height="375" width="375">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <a href="#">Read more</a>
        </li>
        <li>
            <h2>5 Big changes we can expect from Trump</h2>
            <img src="/assets/news/article.png" height="375" width="375">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <a href="#">Read more</a>
        </li>
        <li>
            <h2>5 Big changes we can expect from Trump</h2>
            <img src="/assets/news/article.png" height="375" width="375">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <a href="#">Read more</a>
        </li>
    </ul>
</div>