<div id="media-center" class="media-center news-menu-content">
    <h2 class="content-title">Recent posts by Adflex</h2>
    <ul id="media-center-image-list" class="article-image-list">
        <li class="article-image-link">
            <h2>
                <a href="/news/article" class="link overlay">
                    <span class="link-text">5 Big changes we can expect from Trump</span>
                </a>
            </h2>
            <span class="background-circle"></span>
            <span class="chevron-circle"></span>
            <img class="image" src="/assets/news/article.png" height="375" width="375">
            <p class="extract">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </li>
        <li class="article-image-link">
            <h2>
                <a href="/news/article" class="link overlay">
                    <span class="link-text">5 Big changes we can expect from Trump</span>
                </a>
            </h2>
            <span class="background-circle"></span>
            <span class="chevron-circle"></span>
            <img class="image" src="/assets/news/article.png" height="375" width="375">
            <p class="extract">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </li>
        <li class="article-image-link">
            <h2>
                <a href="/news/article" class="link overlay">
                    <span class="link-text">5 Big changes we can expect from Trump</span>
                </a>
            </h2>
            <span class="background-circle"></span>
            <span class="chevron-circle"></span>
            <img class="image" src="/assets/news/article.png" height="375" width="375">
            <p class="extract">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </li>
        <li class="article-image-link">
            <h2>
                <a href="/news/article" class="link overlay">
                    <span class="link-text">5 Big changes we can expect from Trump</span>
                </a>
            </h2>
            <span class="background-circle"></span>
            <span class="chevron-circle"></span>
            <img class="image" src="/assets/news/article.png" height="375" width="375">
            <p class="extract">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </li>
        <li class="article-image-link">
            <h2>
                <a href="/news/article" class="link overlay">
                    <span class="link-text">5 Big changes we can expect from Trump</span>
                </a>
            </h2>
            <span class="background-circle"></span>
            <span class="chevron-circle"></span>
            <img class="image" src="/assets/news/article.png" height="375" width="375">
            <p class="extract">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </li>
        <li class="article-image-link">
            <h2>
                <a href="/news/article" class="link overlay">
                    <span class="link-text">5 Big changes we can expect from Trump</span>
                </a>
            </h2>
            <span class="background-circle"></span>
            <span class="chevron-circle"></span>
            <img class="image" src="/assets/news/article.png" height="375" width="375">
            <p class="extract">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </li>
        <li class="article-image-link">
            <h2>
                <a href="/news/article" class="link overlay">
                    <span class="link-text">5 Big changes we can expect from Trump</span>
                </a>
            </h2>
            <span class="background-circle"></span>
            <span class="chevron-circle"></span>
            <img class="image" src="/assets/news/article.png" height="375" width="375">
            <p class="extract">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </li>
    </ul>
    <%= erb :'news/load_more_link', :locals => {:target => '#media-center-image-list'} %>

</div>