<div id="media-center" class="media-center news-menu-content">
    <h2>Recent posts by Adflex</h2>
    <ul>
        <li>
            <h2>5 Big changes we can expect from Trump</h2>
            <img src="/assets/news/article.png" height="375" width="375">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <a href="#">Read more</a>
        </li>
        <li>
            <h2>5 Big changes we can expect from Trump</h2>
            <img src="/assets/news/article.png" height="375" width="375">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <a href="#">Read more</a>
        </li>
        <li>
            <h2>5 Big changes we can expect from Trump</h2>
            <img src="/assets/news/article.png" height="375" width="375">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <a href="#">Read more</a>
        </li>
        <li>
            <h2>5 Big changes we can expect from Trump</h2>
            <img src="/assets/news/article.png" height="375" width="375">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <a href="#">Read more</a>
        </li>
        <li>
            <h2>5 Big changes we can expect from Trump</h2>
            <img src="/assets/news/article.png" height="375" width="375">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <a href="#">Read more</a>
        </li>
        <li>
            <h2>5 Big changes we can expect from Trump</h2>
            <img src="/assets/news/article.png" height="375" width="375">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <a href="#">Read more</a>
        </li>
    </ul>
    <a href="#">Load more</a>
</div>