<div class="hero news-hero">
    <div class="hero-content">
        <h1 class="title">Latest news from Adflex</h1>
        <img class="background-image" height="782" width="1225" src="/assets/news/hero.png" />
    </div>
</div>