<div id="publications" class="publications news-menu-content visible">
    <h2 class="content-title">Publications</h2>

    <div class="featured-article">
        <h3 class="feature-title">Feature Article</h3>
        <h4 class="sub-title">Georgetown professor confronts white nationalist Richard Spencer at the gym — which terminates his
            membership</h4>

        <p class="date"><span class="pencil-icon"></span>Last edited 21st May by <a href="#">Fariz Siddiqui</a></p>

        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>

        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>

        <img class="image" src="/assets/news/video.png"/>

        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        <a class="link next-article-link" href="/news/article">Next article - Can the pope save Trump?<span class="chevron-link"></span></a>
    </div>

    <h3>Most read</h3>
    <ol>
        <li>
            <h2>5 Big changes we can expect from Trump</h2>
            <img src="/assets/news/article.png" height="375" width="375">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>
            <a href="#">Read more</a>
        </li>
        <li>
            <h2>5 Big changes we can expect from Trump</h2>
            <img src="/assets/news/article.png" height="375" width="375">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>
            <a href="#">Read more</a>
        </li>
        <li>
            <h2>5 Big changes we can expect from Trump</h2>
            <img src="/assets/news/article.png" height="375" width="375">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>
            <a href="#">Read more</a>
        </li>
    </ol>
    <a href="#">Load more</a>
</div>