<div id="videos" class="videos news-menu-content">
    <h2>Videos</h2>
    <h3>Feature story</h3>
    <h4>Election 2017 live updates:</h4>
    <img src="/assets/news/video.png"/>
    <p>Lorem ipsum dolar sit amet</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    <p>Last edited 18th May 2017</p>
    <h3>Top Stories</h3>
    <ul>
        <li>
            <h4>Lorem ipsum dolar sit amet</h4>
            <img src="/assets/news/video.png"/>
            <a href="#">Play</a>
        </li>
        <li>
            <h4>Lorem ipsum dolar sit amet</h4>
            <img src="/assets/news/video.png"/>
            <a href="#">Play</a>
        </li>
        <li>
            <h4>Lorem ipsum dolar sit amet</h4>
            <img src="/assets/news/video.png"/>
            <a href="#">Play</a>
        </li>
    </ul>
    <a href="#">Load more</a>

    <h3>Trending videos</h3>
    <ul>
        <li>
            <h4>Lorem ipsum dolar sit amet</h4>
            <img src="/assets/news/video.png"/>
            <a href="#">Play</a>
        </li>
        <li>
            <h4>Lorem ipsum dolar sit amet</h4>
            <img src="/assets/news/video.png"/>
            <a href="#">Play</a>
        </li>
        <li>
            <h4>Lorem ipsum dolar sit amet</h4>
            <img src="/assets/news/video.png"/>
            <a href="#">Play</a>
        </li>
    </ul>
    <a href="#">Load more</a>

</div>