.news-menu-mobile-part {
  background-color: $maroon;
  text-align: right;
  padding: 44px 0 10px 0;

  .menu-link {
    position: absolute;
    top: 20px;
    left: 15px;
    height: 38px;
    width: 38px;
  }

  .link-item {
    display: inline-block;
  }
  .link {
    font-size: 12px;
    margin: 14px 10px 0 10px;
    opacity: 0.75;
    @include transition(opacity, 0.1s, linear);
    &:hover {
      opacity: 1;
    }
  }
  .border {
    height: 12px;
    top: 2px;
    width: 1px;
    background-color: $white;
    display: inline-block;
  }
}

@include respond-to(desktop) {
  .news-menu-mobile-part {
    display: none;
  }
}